    <div id="visual" class="@@menu">
        <h2>
            @@if (menu === 'product') {Fasoo Product Overview}
            @@if (menu === 'product_1') {데이터 보안}
            @@if (menu === 'product_2') {온나라 시스템}
            @@if (menu === 'product_3') {개인정보보호}
            @@if (menu === 'product_4') {엔터프라이즈 문서 협업 플랫폼}
            @@if (menu === 'product_5') {개인정보 비식별화}
            @@if (menu === 'product_6') {진본증명플랫폼}
            @@if (menu === 'service') {서비스}
            @@if (menu === 'news') {뉴스 & 이벤트}
            @@if (menu === 'data') {자료실}
            @@if (menu === 'about') {회사소개}
            @@if (menu === 'ir') {IR}
            @@if (menu === 'privacy') {개인정보 처리방침}
            @@if (menu === 'terms') {저작권 정책}
        </h2>
        <p class="desc">
            @@if (menu === 'product') {디지털 혁신을 리드하세요!}
            @@if (menu === 'product_1') {데이터가 디지털 혁신의 핵심입니다.}
            @@if (menu === 'product_2') {온나라 시스템}
            @@if (menu === 'product_3') {프라이버시 관련 컴플라이언스는 물론 유출사고에 대한 사전 대응 및 체계적인 관리}
            @@if (menu === 'product_4') {차세대 문서 관리 플랫폼으로 디지털 트윈을 경험하세요!}
            @@if (menu === 'product_5') {빅데이터 활용은 보다 폭 넓게, 개인정보보호는 더욱 안전하게}
            @@if (menu === 'product_6') {블록체인 기술을 통해 디지털 정보의 무결성을 검증하세요!}
            @@if (menu === 'service') {정보보안과 데이터 보안 분야 최고의 컨설턴트들이 함께 만드는 차별화된 서비스를 경험하세요!}
            @@if (menu === 'news') {Fasoo의 새로운 소식 및 정보를 공유 드립니다.}
            @@if (menu === 'data') {Fasoo의 제품 및 기술 관련 정보를 공유 드립니다.}
            @@if (menu === 'about') {국가대표 소프트웨어 기업, Fasoo}
            @@if (menu === 'ir') {국가대표 소프트웨어 기업, Fasoo}
            @@if (menu === 'privacy') {'파수닷컴'은 고객님의 개인정보를 중요시하며, 법률을 준수하고 있습니다.}
            @@if (menu === 'terms') {'파수닷컴'은 고객님의 개인정보를 중요시하며, 법률을 준수하고 있습니다.}
        </p>
    </div>