header {
  &.member {
    height: 100px;
    line-height: 96px;
    border-bottom: $border;
    .inner {
      text-align: center;
      h1 {
        background-image: url('/resources/img/logo.png');
        a {
          width: 300px;
          height: 50px;
        }
      }
      > a {
        display: none;
      }
    }
    + .inner {      
      margin-top: 150px;
      width: 430px;
      text-align: center;
      @include mobile {
        margin-top: 80px;
        width: calc(100% - 60px);        
      }
      h2 {
        margin-bottom: 5px;
        font-size: 22px;
        font-weight: 700;
        color: $dark;
      }
      .social {
        padding: 30px 0 35px;
        border-bottom: $border;
        ul {
          font-size: 0;
          li {
            display: inline-block;
            margin-left: 20px;
            @include mobile {
              margin-left: 10px;
            }
            a {
              display: block;
              width: 56px;
              height: 56px;
              font-size: 0;
              background-size: 100%;
            }
            &:nth-child(1) {
              margin-left: 0px;
              a {
                background-image: url('/resources/img/member/ico_facebook.png');
                @include mobile {
                  background-image: url('/resources/img/member/ico_facebook_m.png');
                }
              }              
            }
            &:nth-child(2) a {
              background-image: url('/resources/img/member/ico_naver.png');
              @include mobile {
                background-image: url('/resources/img/member/ico_naver_m.png');
              }
            }
            &:nth-child(3) a {
              background-image: url('/resources/img/member/ico_kakao.png');
              @include mobile {
                background-image: url('/resources/img/member/ico_kakao_m.png');
              }
            }
            &:nth-child(4) a {
              background-image: url('/resources/img/member/ico_google.png');
              @include mobile {
                background-image: url('/resources/img/member/ico_google_m.png');
              }
            }            
          }
        }
      }
      .form {
        position: relative;
        padding: 40px 0;
        > div {
          position: absolute;
          display: block;
          width: 100%;
          text-align: center;
          top: -16px;
          span {
            display: inline-block;
            width: 50px;
            color: $light;
            background-color: #fff;
          }
        }
        input[type=text], input[type=password] {
          margin-bottom :20px;
          padding: 15px 20px;
          width: calc(100% - 40px);
          border: $border;
          border-radius: 8px;
          &::-webkit-input-placeholder {
            color: #aaa;
          }     
          @include mobile {
            padding: 10px 20px;
            font-size: 16px;
            -webkit-appearance: none;
          }          
          + div {
            text-align: left;
            line-height: 56px;
            @include mobile {
              margin-bottom: 0px;
              line-height: 26px;
            }
            input[type=checkbox] {
              width: 0;
              height: 0;
              opacity: 0;
              + label {
                padding-left: 30px;
                background: url('/resources/img/member/img_checkbox.png') no-repeat left center;
                background-size: 20px;
                @include mobile {
                  background-image: url('/resources/img/member/img_checkbox_m.png');                  
                }
              }
              &:checked + label {
                background-image: url('/resources/img/member/img_checkbox_checked.png');
                @include mobile {
                  background-image: url('/resources/img/member/img_checkbox_checked_m.png');                  
                }
              }
            }
            button {
              display: block;
              margin: 15px auto;
              width: 190px;
              height: 56px;
              color: #fff;
              border-radius: 8px;
              background-color: $purple;
              transition: background-color .2s;              
              cursor: pointer;
              &:hover {
                background-color: #8b5eef;
              }
              @include mobile {
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                font-weight: 700;
              }
              &.login {
                margin: 0 auto;
                float: right;
                @include mobile {                  
                  float: none;
                  margin-top: 10px;
                }
              }
              &.join {
                width: 310px;
                @include mobile {
                  width: 100%;
                }              
              }
            }
          }
        }
        a {
          color: $purple;
          font-weight: 700;
          transition: background-color .2s;
          &:hover {
            color: #8b5eef;
          }          
        }
        div {
          &.forgot {            
            margin-top: 30px;
            @include mobile {
              margin-top: 20px;
            }
          }
          &.join, &.login {
            margin-top: 20px;
            @include mobile {
              margin-top: 10px;
            }
            p {
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}