.skip {
  display: none;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}

.inner {
  margin: 0 auto;
  padding: 0 50px;
  width: 1200px;
  box-sizing: border-box;  
  @include mobile {
    padding: 0 30px;
    width: 100%;
  }
}

.btn {
  display: inline-block;
  width: 148px;  
  height: 46px;
  text-align: center;
  line-height: 44px;
  color: $green;
  background-color: #fff;
  border: 1px solid #fff;    
  border-radius: 5px;
  transition: all .2s;
  &:hover  {
    color: #fff;
    background-color: $green;
    border-color: $green;
  }
  &.primary {
    color: #fff;
    background-color: $green;
    border-color: $green;
    &:hover {
      background-color: #2dd67c;
      border-color: #2dd67c;
    }
  }
  & + .btn {
    margin-left: 17px;
  }
}

header {
  position: fixed;
  top: 0;  
  width: 100%;  
  height: 80px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  transition: background-color .2s;
  z-index: 1;
  @include mobile {
    height: 60px;
  }
  > .inner {
    font-size: 0;
    overflow: visible;
    @include mobile {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
    }
    * {
      display: inline-block;
      vertical-align: middle;
    }
    h1 {
      width: 156px;
      height: 30px;
      background-image: url('/resources/img/img_logo.png');
      background-repeat: no-repeat;
      background-size: 100%;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 0;
      }
      + span {
        display: none;
        @include mobile {
          display: block;
          width: 20px;
          height: 20px;                
          background: url('/resources/img/ico_menu_on.png') no-repeat;       
          background-size: 100%;
          &.close {
            background-image: url('/resources/img/ico_close.png');
          }        
        }
      }       
    } 
    nav {
      // margin-left: 370px;      
      width: 830px;
      text-align: right;
      @include mobile {
        position: fixed;
        top: 60px;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        text-align: left;
        background-color: #fff;
      }      
      > ul {
        display: inline-block;
        > li {
          margin-left: 40px;
          @include mobile {
            display: block;
            margin-left: 30px;
          }
          > a {
            display: inline-block;
            height: 78px;
            line-height: 78px;
            color: $dark;
            border-bottom: 2px solid transparent;
            transition: all .2s;
            @include mobile {
              font-size: 16px;
            }
            > span {
              margin-left: 5px;
              visibility: hidden;
              @include mobile {
                visibility: visible;
              }              
            }
          }
          &:hover > a {
            color: $green;
            border-color: $green;
            > span {
              visibility: visible;
            }
          }
          &:hover > ul {
            display: block;
          }
          > ul {
            position: absolute;
            top: 60px;
            left: -20px;
            display: none;  
            padding: 15px 20px;
            width: 175px;
            line-height: 36px;
            z-index: 1;
            background-color: #fff;
            border: $border;
            border-radius: 5px;
            > li {
              display: block;
              a {
                color: #2e2e2e;
                &:hover {
                  color: $green;
                }
              }
            }
          }
        }  
      }
    }
    div {
      @include mobile {
        position: fixed;
        display: none;
        bottom: 60px;
        left: 0;
        width: 100%;
      }
      ul {
        display: block;       
        li {
          margin-left: 20px;
          @include mobile {
            display: block;
            margin: 0;          
          }
          a {
            display: inline-block;
            padding-left: 40px;
            height: 16px;
            line-height: 16px;
            color: $green;
            border-left: $border-light;
            background-color: transparent;
            @include mobile {
              display: block;
              margin: 0 auto;
              padding: 0;
              width: 300px;
              height: 46px;
              text-align: center;              
              line-height: 44px;
              color: #fff !important;
              background-color: #25c16f;
              border-color: #25c16f;
              border-radius: 5px;
            }
          }
        }
      }
    }   
  }
  &.on {
    background-color: #fff;    
    border-color:#e8e8e8;
  }
}

#content {
  min-width: 1200px;
  @include mobile {
    min-width: auto;
  }
}

footer {
  padding-bottom: 70px;
  .inner {
    @include mobile {
      display: flex;
      flex-direction: column;
    }
    > span {
      float: left;
      margin: 3px 20px 0 0;
      font-size: 14px;
      color: $light;
      @include mobile {
        margin-top: 30px;
        order: 4;
      }
    }
    > ul {
      &:nth-child(2) {
        float: left;
        @include mobile {
          float: none;
        }
        li {
          float: left;
          margin-right: 30px;
          @include mobile {
            float: none;
            margin-top: 10px;
            &:first-child {
              margin-top: 0;           
            }            
          }          
          a {
            font-size: 14px;
            color: $dark;
            @include mobile {
              display: block;
              float: none;
              font-size: 16px;
            }                 
          }
        }
      }
      &:nth-child(3) {
        float: right;
        font-size: 0;
        @include mobile {
          float: none;
          margin-top: 30px;
        }        
        li {
          display: inline-block;
          margin-left: 20px;
          @include mobile {
            margin-left: 15px;
          }
          &:first-child {
            margin-left: 0;
          }
          a {
            display: inline-block;
            width: 28px;
            height: 28px;
            font-size: 0;
            background-repeat: no-repeat;
            background-size: 28px;
            @include mobile {
              width: 40px;
              height: 40px;
              background-size: 40px;
            }
            &.global {
              background-image: url('/resources/img/ico_global.png');
            }
            &.facebook {
              background-image: url('/resources/img/ico_facebook.png');
            }
            &.youtube {
              background-image: url('/resources/img/ico_youtube.png');
            }
            &.insta {
              background-image: url('/resources/img/ico_insta.png');
            }
            &.blog {
              background-image: url('/resources/img/ico_blog.png');
            }                      
          }
        }
      }
    }
  }
}