header {
  &.form {
    >.inner {
      h1 {
        background-image: url('/resources/img/img_logo_form.png');
        + span {
          background-image: url('/resources/img/ico_menu.png');
        }
      }
      nav {
        > ul {
          > li {
            > a {
              color: #fff;
            }
            &:hover {
              > a {
                border-color: #fff;
              }
            }
          }
        }
        + div {
          li {
            a {
              color: #fff;
            }
          }
        }
      }
    }
    &.on {
      >.inner {
        h1 {
          background-image: url('/resources/img/img_logo.png');
          + span {
            background-image: url('/resources/img/ico_menu_on.png');
            &.close {
              background-image: url('/resources/img/ico_close.png');
            }
          }          
        }
        nav {
          > ul {
            > li {
              > a {
                color: #28292b;
              }
              &:hover {
                > a {
                  color: $green;
                  border-color: $green;
                }
              }
            }
          }
          + div {
            li {
              a {
                color: $green;
              }
            }
          }
        }
      }
    }    
  }
}

#content {
  &.form {
    background: url('/resources/img/bg_form.png') top right no-repeat;
    @media (min-width: 1920px) {
      background-size: 100%;
    }    
    @include mobile {
      background-position: top -400px center;
      background-size: cover;
    }
    section {
      padding: 160px 0 120px;
      @include mobile {
        padding: 90px 0 60px;
      }
      .inner {
        h2, h2 + p {
          color: #fff;
        }
        > div {
          margin: 40px auto 0;
          padding: 60px 50px;
          width: 740px;
          overflow: hidden;
          box-shadow: 0px 0px 60px rgba(62, 63, 66, 0.1);
          border-radius: 10px;
          background-color: #fff;
          @include mobile {
            padding: 30px 20px;
            width: 100%;
            box-sizing: border-box;
          }
          > form {
            .red {
              input, select, textarea {
                border-color: $red;                
              }
              p {
                visibility: visible;
              }
            }
            > div {
              //margin-bottom: 10px;
              &:nth-child(2) {              
                > label {
                  display: block;
                }
                > div {
                  float: left;
                  width: 350px;                  
                  &.right {
                    height: 112px;
                    margin-left: 40px;
                    @include mobile {
                      height: auto;
                      margin: 0;
                    }
                  }
                  @include mobile {
                    width: 100%;
                  }                            
                }
                label + input {
                  display: inline-block;
                  width: 240px;
                  margin-left: 10px;
                  height: 22px;
                  vertical-align: middle;
                  border-width: 0 0 1px 0;
                  border-radius: 0;
                }
              }
              &:nth-child(n+3) {
                display: flex;
                justify-content: space-between;
                @include mobile {
                  display: block;
                }
              }
              &:last-child {
                margin-top: 10px;
              }
              span {
                color: $green;
              }
              p {
                visibility: hidden;
                color: $red;              
              }
              input[type=text], select, textarea {
                display: block;
                padding: 5px 10px;
                width: 350px;              
                height: 40px;
                box-sizing: border-box;
                border: $border;
                border-radius: 5px;
                @include mobile {
                  width: 100%;
                  box-sizing: border-box;
                  font-size: 16px;
                  -webkit-appearance: none;           
                }
              }
              textarea {
                width: 730px;
                height: 120px;
                resize: none;
                overflow: auto;
                @include mobile {
                  width: 100%;
                  box-sizing: border-box;
                  font-size: 16px;                
                }              
              }
              input[type=checkbox] {
                display: none;
                & + label {
                  padding-left: 24px;
                  background-image: url('/resources/img/ico_checkbox.png');
                  background-position: center left;
                  background-size: 16px;
                  background-repeat: no-repeat;
                }
                &:checked + label {
                  background-image: url('/resources/img/ico_checkbox_checked.png');
                }
              }
              input[type=radio] {
                + label {
                  display: inline-block;
                  margin: 5px 16px 7px 0;
                  @include mobile {
                    margin-bottom: 0;
                  }
                }
              }
              a {
                text-decoration: underline;
              }
              button {
                display: block;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }    
  }
}