/* Common */
.block { display: block !important; }
.ib { display: inline-block !important; }
.txt_gray { color:#888; }
.txt_point { color:#f04040 !important}
.small { font-size:12px; }
.ds_radio {display:none; }
.f12 { font-size:12px; }
.nb {border:0 !important; }
.noBorderT { border-top:0 !important}
.tal {text-align: left !important}
.tar {text-align: right !important}
.tac {text-align: center !important}
.ir {position:absolute !important; left:-9999px !important; width:0 !important; height:0 !important; font-size:0 !important; }
.txt_black { color:#000; }
.w100 { width: 100%; display: table; table-layout: fixed; }
.w100 .cell { display: table-cell; vertical-align: middle; }
.w100 .cell.hyphen { width:9px; text-align: center; color:#999;font-size:12px; }
.w100 .cell.hyphen02 { width:18px; text-align: center; color:#999;font-size:12px; }
.w100 .cell.date { width:10px; text-align: left; padding:0 0 0 3px; color:#999;font-size:12px; }
.mg { margin-left:15px; margin-right: 15px; }
.w100 .btn_black,
.w100 .btn_red,
.w100 .btn_gray { width:100%; }

.layer.loading {padding-top:100px;width:170px;height:70px;text-align: center;font-size: 14px;z-index:103;background: url(../images/common/loading.gif) #fff center 30px no-repeat;background-size: 50px}

#container {padding:0 0 20px 0;}

/* TAB */ 
.wrap_tab.borderTop { border-top:1px solid #c4c4c4}
.wrap_tab_menu {height:54px;overflow-y: hidden}
.tab_menu {padding-bottom:20px;font-size:0;overflow-x: auto; white-space:nowrap;-webkit-overflow-scrolling:touch; } 
.tab_menu li { position: relative;display:inline-block;width:auto;min-width:50px;height:54px; border-bottom:1px solid #c4c4c4; font-size: 15px; line-height:54px;  text-align: center;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.tab_menu li.active { border-bottom: 2px solid #f04040; color:#000;box-sizing: border-box; }
.tab_menu li a { display: block; color: #a0a0a0; } 
.tab_menu li.active a {font-family: nsm;color: #000}

/*
.tab_menu.tab2 li { width:50%; } 
.tab_menu.tab3 li { width:33%; }
.tab_menu.tab3 li:first-child { width:34%; }
.tab_menu.tab4 li { width:25%; } 
*/
 
/* sTAB */ 
.stab_menu:after { content:''; display: block; clear: both; }
.stab_menu li { position: relative; float:left;border:1px solid #666; text-align: center; margin:0px 0 0 -1px ;box-sizing: border-box; }
.stab_menu li:first-child { margin:0px 0 0 0 ; }
.stab_menu li a { display:block; height:40px; font-size:15px; color:#737373; line-height: 40px; }
.stab_menu li.active { z-index: 2; background:#f04040;  border-left:1px solid #f04040; border-right:1px solid #f04040; } 
.stab_menu li:first-child.active { border-left:1px solid #666; }
.stab_menu li:last-child.active { border-right:1px solid #666; }
.stab_menu li.active a { color:#fff; font-family:nsm; }


/* table */ 
.grid { border-top:1px solid #000; }
.grid caption { width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; }
.grid .tb_col { width:100%; border:0; } 
.grid .tb_col thead th,
.grid .tb_col tbody th,
.grid .tb_col tbody td { height:19px; border-bottom:1px solid #ccc; border-left:1px solid #ccc; padding:11px 7px 9px 7px;  font-weight: normal; }
.grid .tb_col thead th { background:#fafafa; color:#000; }   
.grid .tb_col thead th.type2 span { display: block; }
.grid .tb_col thead th.bgGray { background: #e4e4e4; }
.grid .tb_col thead th.bgGray2 { background: #eeeeee; }
.grid .tb_col thead th:first-child { border-left:0; } 
.grid .tb_col thead th.borderL { border-left:1px solid #ccc; } 
.grid .tb_col tbody th { text-align: center; background:#fafafa; font-weight:normal; color:#000; }
.grid .tb_col tbody th.left { text-align: left; }
.grid .tb_col tbody th.noBorderL { border-left:0; } 
.grid .tb_col tbody td { text-align: center; color:#646464; }
.grid .tb_col tbody td:first-child { border-left:0; } 
.grid .tb_col tbody td.left { text-align:left; }
.grid .tb_col tbody td.no_data { padding:20px 10px; }
.grid .tb_col tbody td.noStore { padding:40px 0; }
.grid .tb_col th.red, .grid .tb_col td.red {background-color:#fdecec}


.grid .tb_row { width:100%; border:0; }  
.grid .tb_row tbody tr th,
.grid .tb_row tbody tr td { border-bottom:1px solid #ccc; border-left:1px solid #ccc; color: #646464; font-weight: normal; }
.grid .tb_row tbody tr th:first-child { border-left:0; }
.grid .tb_row tbody th.bgGray { background: #e4e4e4; }
.grid .tb_row tbody th.noBorderL { border-left:0; } 
.grid .tb_row tbody tr th { height:25px; padding:10px 7px 8px 7px; text-align: left;  background:#fafafa; color:#000; }   
.grid .tb_row tbody tr td { height:25px; padding:9px 0 8px 10px; }   
.grid .tb_row tbody tr td.center { text-align: center; vertical-align: middle; }
 

.grid .tb_noBorder { width:100%; border:0; }  
.grid .tb_noBorder tbody tr th,
.grid .tb_noBorder tbody tr td { color: #646464; font-weight: normal; vertical-align: top; font-size:14px; }
.grid .tb_noBorder tbody tr th:first-child { border-left:0; }
.grid .tb_noBorder tbody th.bgGray { background: #e4e4e4; }
.grid .tb_noBorder tbody th.noBorderL { border-left:0; } 
.grid .tb_noBorder tbody tr th { height:25px; padding:15px 5px 6px 8px; text-align: left;  background:url(../images/common/bul_black.png) 0 22px no-repeat; color:#000; }   
.grid .tb_noBorder tbody tr td { height:25px; padding:5px 0 6px 10px; }   
.grid .tb_noBorder tbody tr td.center { text-align: center; vertical-align: middle; }
.grid .tb_noBorder tbody tr td .wrap_txt { padding:7px 0 0 0; }

.grid .txt_list { margin:3px 0 0 0; }
.grid .txt_list li:last-child { padding: 0 0 0 8px; }



 


/* Text List */
.txt_list  { }
.txt_list li { padding: 0 0 4px 9px; }  
.txt_list li.red { color:#f04040; background:url('../images/common/bul_red.png') 1px 7px no-repeat; } 
.txt_list li.gray { color:#646464; background:url('../images/common/bul_gray.png') 1px 7px no-repeat; } 
.txt_list li.gray2 { color:#a1a1a1; background:url('../images/common/bul_gray2.png') 1px 7px no-repeat; }
.txt_list li.black { color:#000; background:url('../images/common/bul_black.png') 1px 7px no-repeat; } 
.txt_list li.normal { color:#313131; background:url('../images/common/bul_black.png') 1px 7px no-repeat; } 
.txt_list li.check { padding: 0 0 4px 12px; color:#6d6d6d; background:url('../images/common/bul_check.png') 0 6px no-repeat; } 
.txt_list li.bul { padding: 0 0 4px 9px; color:#646464; background:url('../images/common/bul_hyphen.png') 0 9px no-repeat; background-size:4px; } 
.txt_list li.bul.f14 { padding: 0 0 4px 10px; color:#646464; background:url('../images/common/bul_hyphen.png') 0 8px no-repeat; background-size: 5px auto; } 
.txt_list li.none { padding: 0 0 4px 0; color:#313131;   } 
.txt_list li.none:last-child {padding: 0 0 4px 0; }
.txt_list li.f12 { font-size:12px; }
.txt_list li.f13 { font-size:13px; } 
.txt_list li.border { border-bottom:1px solid #ccc; margin-bottom: 16px; padding: 0 0 10px 9px; } 
.txt_list .txt_list  { margin-top:5px; }

/* paging */
.paging { margin:20px 0; text-align: center; font-size: 12px; }
.paging a {display:inline-block; width: 20px; height:24px; vertical-align: middle; line-height: 26px; }
.paging em { display:inline-block; width: 20px; height:24px;  vertical-align: middle; font-weight: bold; background:#000; color:#fff; line-height: 24px; }
.paging a.btn_first { width: 30px;font-size:0; text-indent: -999px; background:url('../images/common/btn_first.png') no-repeat; }
.paging a.btn_prev {  width: 30px; margin: 0 10px 0 0; font-size:0;text-indent: -999px; background:url('../images/common/btn_prev.png') no-repeat; }
.paging a.btn_next {  width: 30px; margin: 0 0 0 10px;font-size:0; text-indent: -999px; background:url('../images/common/btn_next.png') no-repeat; }
.paging a.btn_last { width: 30px;font-size:0; text-indent: -999px; background:url('../images/common/btn_last.png') no-repeat; }


/* Process bar */
.process4 { height:31px; overflow: hidden; }
.process4 li { float: left; width:25%; padding:0; text-align: center; color:#fff;  line-height: 27px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.process4 li em { display: inline-block; font-size: 12px;   vertical-align: middle; }
.process4 li em.check { width:10px; height:17px; font-size:0; background:url('../images/common/ico_process_check.png') left center no-repeat; background-size: 11px auto; }
.process4 li strong, 
.process4 li span { font-size: 11px;  vertical-align: middle; font-weight: normal; letter-spacing: -1px}
.process4.step1 { background:url('../images/common/bg_process4_1.png') no-repeat;  background-size:cover; }
.process4.step2 { background:url('../images/common/bg_process4_2.png') no-repeat;  background-size:cover; }
.process4.step3 { background:url('../images/common/bg_process4_3.png') no-repeat;  background-size:cover; }
.process4.step4 { background:url('../images/common/bg_process4_4.png') no-repeat;  background-size:cover; }
 


.process3 { height:31px; overflow: hidden; }
.process3 li { float: left; width:33%; padding:0 3px 0 0; text-align: center; color:#fff;  line-height: 27px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.process3 li+li { width:34%; }
.process3 li+li+li{ width:33%; }
.process3 li em { display: inline-block; font-size: 12px;   vertical-align: middle; }
.process3 li em.check { width:14px; height:17px; font-size:0; background:url('../images/common/ico_process_check.png') left center no-repeat; background-size: 12px auto; }
.process3 li strong, 
.process3 li span { font-size: 12px;  vertical-align: middle; }
.process3.step1 { background:url('../images/common/bg_process3_1.png') no-repeat;  background-size:cover; }
.process3.step2 {background:url('../images/common/bg_process3_2.png') no-repeat;  background-size:cover; }
.process3.step3 { background:url('../images/common/bg_process3_3.png') no-repeat;  background-size:cover; }
 

/* Filter */
.filter { margin-bottom: 38px}
.filter .btn_filter { width:100%; height:40px; border:1px solid #666; text-align: center;  border-radius: 2px; background-color: #fff}
.filter .btn_filter span { display: inline-block; padding:0 30px 0 0; font-size:15px; color:#000;background:url(../images/common/ico_filter_off.png) no-repeat right center #fff}
.filter .btn_filter span.on { background:url(../images/common/ico_filter_on.png) no-repeat right center #fff;}

.list_filter {}
.list_filter h3 { margin:0 0 20px 0; }
.list_filter ul { overflow: hidden; }
.list_filter ul li { float: left; width:50%;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.list_filter ul li.all { float: none; width: 100%; padding:0 0 20px 0 !important; }
.list_filter ul li:nth-child(odd) { padding:0 0 20px 2px; }
.list_filter ul li:nth-child(even) { padding:0 2px 20px 0}

.box_filter input[type=checkbox]{position:absolute; width:1px; height:1px; opacity:0; }
.box_filter input[type=checkbox]+label{ position:relative; display:inline-block; padding:0; text-align: center; width:100%; height:40px; border:1px solid #bbbbbb; font-size:14px;vertical-align: middle; line-height: 40px; overflow:hidden;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.box_filter input[type=checkbox]+label .icon{width:0; height:0; display:inline-block; position:absolute; top:0; left:0; margin:0;background-color: #fff;border:none; border-radius:0; }
.box_filter input[type=checkbox]:checked + label { background:#f04040; border:1px solid #f04040; color: #fff; }
.box_filter input[type=checkbox]:checked + label .icon {background:none; border:none; background-size:auto; } 
.box_filter input[type=checkbox]:disabled+label{ color:#bbbbbb; background: #f5f5f5; border:1px solid #f5f5f5; }
.box_filter input[type=checkbox]:disabled+label .icon{ background:none; color:transparent; border-color:none; }

 

/* Car List */
.list_car {  }
.list_car ul {}
.list_car ul li { position: relative;  padding:15px 15px;   }
.list_car ul li.no_car { background:#f2f2f2; }
.list_car dl { overflow: hidden; }
.list_car dl dt { position: relative; padding:0 0 0 0; }
.list_car dl dt .tit { font-family:nsm; font-weight:normal;  display:block; margin:0 0 15px 0; font-size:17px; color:#000; line-height: 24px; }
 
.list_car dl dd { position: relative; min-height:145px; padding:0 0 0 150px;    }

.list_car dl dd .img { position: absolute; top:0; left:0; width: 138px; height:138px; border: 1px solid #d6d6d6;  background:url('../images/common/bg_car_default.png') center no-repeat; background-size:contain; }
.list_car.type2 dl dd .img { background:url('../images/common/bg_car_default2.png') center no-repeat; background-size:contain; }
.list_car dl dd .img img { width: 138px; height:138px; }
.list_car dl dd .img a { display: block;  height: 138px; }
.list_car dl dd .img span { position: absolute; top:-1px; left:-1px; display: block; }
.list_car dl dd .img span.tag_promo {width:68px; height:22px; padding:0 8px 0 8px;color: #fff; font-size:12px; line-height: 21px;  background:#f04040 url('../images/common/ico_promotion.png') right center no-repeat; background-size: contain; } 
.list_car dl dd .img span.car_logo { left: inherit; top:5px;  right:5px; }
.list_car dl dd .img span.car_logo img { width:auto; height:15px; vertical-align: top; }
.list_car dl dd .img span.car_logo.cr img { width:24px; height:auto;}
.list_car dl dd .img span.car_logo.vt img { width:auto; height:25px;}
.list_car dl dd .img span.car_logo.hr img { width:40px; height:auto;}

.list_car dl dd .icons {   padding:0 0 0 0; }
.list_car dl dd .icons span { display:inline-block; width: 40px; height:40px; vertical-align: middle; margin:0 5px 0 0; font-size: 0;  }
.list_car dl dd .icons .ic_gas { background:url('../images/common/ico_gas.png') no-repeat; background-size:100%; background-position:center;}
.list_car dl dd .icons .ic_diesel { background:url('../images/common/ico_diesel.png') no-repeat; background-size:100%; background-position:center;}
.list_car dl dd .icons .ic_electronic { background:url('../images/common/ico_electr.png') no-repeat; background-size:100%; background-position:center;}
.list_car dl dd .icons .ic_lpg { background:url('../images/common/ico_gas.png') no-repeat; background-size:100%; background-position:center;}
.list_car dl dd .icons .ic_hybrid { background:url('../images/common/ico_hybrid.png') no-repeat; background-size:100%; background-position:center;}
.list_car dl dd .icons .ic_hybrid2 { background:url('../images/common/ico_hybrid2.png') no-repeat; background-size:100%; background-position:center;}
.list_car dl dd .icons .ic_pp { height:17px; padding-top:28px; font-size:14px; text-align: center; font-weight: bold;color:#f04040; background:url('../images/common/ico_people.png') no-repeat; background-size:32px auto; background-position:center;}
.list_car dl dd .icons .ic_drive { background:url('../images/common/ico_driver1.png') no-repeat; background-size:100%; background-position:center;}
.list_car dl dd .icons .ic_speed { width: 35px;background:url('../images/common/ico_110.png') no-repeat; background-size:100%; background-position:center;}

.list_car dl dd .tag { margin:5px 0 7px 0; }
.list_car dl dd .tag span { display: inline-block; font-size:12px; height:20px; padding:0 5px; margin:0 0 0 0; line-height: 20px; color:#fff; text-align: center; }
.list_car dl dd .tag span.tag_compact { background:#5ed846; }
.list_car dl dd .tag span.tag_gas { background:#3b76ee; }
.list_car dl dd .txt { width:100%; margin:5px 0 10px 0; padding:0 0 0 0;font-size:13px; color:#5a5a5a; line-height: 16px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.list_car dl dd .price { display:block; margin-right: 10px;  color:#f04040; font-size:19px; line-height: 22px; }
.list_car dl dd .price em { padding:0 0 0 0; font-size:12px; }
.list_car dl dd .price2 { display:inline-block;  color:#999999; font-size:15px; line-height: 20px; }
.list_car dl dd .price2 em { padding:0 0 0 0; font-size:10px; }
.list_car dl dd.book { padding:0; min-height: auto;  }
.list_car dl dd.book button {   width:100%; } 
.list_car dl dd .option { color: #f04040; } 
.list_car dl dd .option li { display: inline-block; padding: 0 0 0 6px; border:0; margin-right:3px; font-size:12px; color:#f04040; line-height:18px; background:url('../images/common/bul_red.png') 0 8px no-repeat; } 
.list_car dl dd .option li:first-child { padding: 0; }
.list_car dl dd .option li.none { background:none; }
.list_car dl dd .btn_book {width:100%;height:40px; }

/* Box Car info */
.box_schd { border-bottom:1px solid #d6d6d6; padding:22px 5px; }
.box_schd span { display: inline-block; vertical-align: middle; width:45%; text-align: center; margin-left:-4px; font-size:14px; }
.box_schd span strong { display: block; margin:0 0 3px 0; color: #888; font-weight:normal; }
.box_schd span em { display: block; color: #000;  font-size: 13px; }
.box_schd .ico_to { display:inline-block; vertical-align:middle; width:10%; height:13px; font-size:0;margin-left:-4px; background:url('../images/common/ico_to.png') center no-repeat; }

.box_car_info {  }
.box_car_info h3 { border-bottom:0; }
.box_car_info .img_car {}
.box_car_info .img_car img { width:100%; height:auto; }
.box_car_info .grid {}
 
.box {padding: 10px;border: 1px solid #ccc;background: #fdfdfd;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }

/* 스크롤링 박스안에 들어가는 라디오는 초기화 처리 */
.prv input[type=radio]{position:static; width:auto; height:auto; opacity:1;}
.prv input[type=radio]+label{ position:static; display:inline-block; padding:0 0 0 0; font-size:13px; }
.prv input[type=radio]+label span.icon { display: none;}

.box_price { padding: 16px; background:#34393f; color:#fff; overflow:hidden; } 
.box_price dl { float:left; width:32%;  text-align: center; padding:0 0 15px 0; }
.box_price dt { margin-bottom: 10px; }
.box_price dd { font-size:18px; }
.box_price dd em { font-size:13px; }
.box_price .minus { display:block;float:left; width:2%; text-align: center; margin:27px 0 0 0; }
.box_price .plus { display:block;float:left; width:2%; text-align: center;margin:27px 0 0 0; }
.box_price .price_rent {}
.box_price .price_dsc {}
.box_price .price_ins {}
.box_price .price_total { clear: both; float:none; width:100%; border-top:1px solid #646466; padding: 15px 0 0 0; text-align: right; }
.box_price .price_total dt { display: inline-block; font-size: 15px; margin-bottom: 0; margin-right:5px; vertical-align: middle; }
.box_price .price_total dd { display: inline-block; font-size: 24px;  color: #f04040; line-height: 20px; vertical-align: middle; }
.box_price .price_total dd em { margin-left: 3px; }


 

/* Calendar */
.wrap_cal {margin:0 auto; text-align: center; overflow: hidden; }
.wrap_cal .top_cal { position: relative; height:60px; }
.wrap_cal .top_cal a.btn_prev { display: inline-block; position: absolute; top:10px; left:15px; width:49px; height:40px; font-size: 0; color:transparent; background:url('../images/common/btn_cal_prev.png') center no-repeat; background-size: cover; border:1px solid #b7b7b7; }
.wrap_cal .top_cal a.btn_next { display: inline-block; position: absolute; top:10px; right:15px; width:49px; height:40px; font-size: 0; color:transparent; background:url('../images/common/btn_cal_next.png') center no-repeat;background-size: cover; border:1px solid #b7b7b7; }
.wrap_cal .top_cal .txt { color: #313131; font-size: 15px; line-height: 60px; font-family: nsm; } 
.wrap_cal .calendar {  height: 280px; }
.wrap_cal .calendar table { width:100%;  border-top:2px solid #313131; }
.wrap_cal .calendar thead th { height:38px; font-weight: normal;font-size: 14px;line-height: 38px; background: #f6f6f6; border-bottom: 1px solid #bbbbbb; border-left: 1px solid #bbbbbb; }
.wrap_cal .calendar tbody td { height:38px; font-size: 14px; line-height: 38px; background: #fff; text-align: center;border-bottom: 1px solid #bbbbbb; border-left: 1px solid #bbbbbb; }
.wrap_cal .calendar tbody tr td:first-child { border-left:0; }
.wrap_cal .calendar tbody td a { display: block; height:38px; }
.wrap_cal .calendar tbody td.disabled { background: #f6f6f6; color: #c8c8c8 !important; }
.wrap_cal .calendar tbody td.unlink { color: #c8c8c8 !important; }

.wrap_cal .calendar tbody td.start { background: #f04040; } 
.wrap_cal .calendar tbody td.start a { color: #fff !important; }
.wrap_cal .calendar tbody td.end { background: #f04040; } 
.wrap_cal .calendar tbody td.end a { color: #fff !important; }

.wrap_cal .calendar tbody td.during { background: #fdecec; }  

.wrap_cal .calendar tbody td.on { background: #f04040; } 
.wrap_cal .calendar tbody td.on a { color: #fff !important; }
.wrap_cal .calendar tbody td.sat a { color: #0095e7; }
.wrap_cal .calendar tbody td.sun a { color: #f04040; }
.wrap_cal .calendar tbody td.holiday  { color: #f04040 !important; }
.wrap_cal .calendar tbody td.holiday a { color: #f04040 !important; }

.wrap_cal .cal_date { float:left; display:block; width:50%; margin: 20px auto 0; padding: 15px 0; background:#fdfdfd; border-top: 1px solid #d5d5d5;border-bottom: 1px solid #d5d5d5;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.wrap_cal .calendar_sd + .cal_date {padding:15px 20%;width:100%;}
.wrap_cal .cal_date:last-child { border-left: 1px solid #d5d5d5;}
.wrap_cal .cal_date h6 { font-size: 13px; font-weight: normal; margin: 0 0 5px 0; }
.wrap_cal .cal_date .date { display: block; margin:0 0 10px 0; font-weight: normal; color: #f04040; font-size:14px; }
.wrap_cal .cal_date .select { width:40%; margin:0 1px; }
.wrap_cal + .txt_list {float:left;padding:0 4%;margin-top:20px;text-align:left; }
.wrap_cal + .txt_list + .btn_wrap {padding:40px 0;width:100%; }

.calendar_sd {padding-bottom:0}
.cal_date.sd {width:274px; }

/* top_info */
.top_info { padding:80px 10px 20px 10px;  border-bottom:1px solid #cccccc; background:#f5f5f5 url('../images/common/ico_top_info.png') center 20px no-repeat; background-size: 42px auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }  
.top_info p.txt { display:block; vertical-align: middle;    line-height: 20px; color:#646464; }
.top_info p.txt.center { text-align: center; }

.txt_summary { padding:20px 30px; border-bottom: 1px solid rgb(213, 213, 213); line-height: 22px; }
.txt_summary2 { color:#646464; padding:10px 0; margin-bottom: 50px; line-height: 22px; }

.qaList.borderTop { border-top:1px solid #000}
.qaList ul {  }
.qaList li {  }
.qaList li a { position: relative; display:block;   font-size: 14px; color:#313131; border-bottom:1px solid #ccc; padding:15px 40px 12px 90px;; background:url('../images/common/ico_qa_off.png') 95% center no-repeat; background-size: 11px auto; } 
.qaList li a.on { background:url('../images/common/ico_qa_on.png') 95% center no-repeat; background-size: 11px auto; }
.qaList li a.on span.q { background-position:0 0; } 

.qaList li span.q { position:absolute; top:50%; left:10px; inline-block; width:70px; height:24px; margin:-12px 0 0 0;  background:url('../images/common/bg_qa.png') 0 -31px no-repeat; background-size:cover; text-align: center; color:#fff; line-height: 23px; font-size:12px; font-weight: bold; }

.qaList li .answer { display:none; font-size: 13px;  padding:20px; border-bottom:1px solid #ccc; background:#fafafa; line-height: 18px; }

 


/* Layer Popup Content */
.wrap_reservation .rent_popWrap .innerBox a.noData .tit  { font-size:18px; padding:5px 0 0 0; }
.wrap_reservation .main p.txt_list_red { background: url(../images/common/bul_red.png) 0 9px no-repeat; }
.wrap_reservation .sel_carWrap .innerBox .radio { padding:35px 20px 30px 20px; }
.wrap_reservation .deliveryWrap { color:#868686; font-size:13px; }
.wrap_reservation .left1 .btn_tooltip,
.wrap_reservation .left2 .btn_tooltip,
.wrap_reservation .left3 .btn_tooltip { margin-top:5px; }

.layer_con .rent_popWrap .innerBox a.noData .tit  { font-size:18px; padding:5px 0 0 0; }
.layer_con .main p.txt_list_red { background: url(../images/common/bul_red.png) 0 9px no-repeat; }
.layer_con .sel_carWrap .innerBox .radio { padding:35px 20px 30px 20px; }
.layer_con .deliveryWrap { color:#868686; font-size:13px; }
 
.layer_con h5 { margin-bottom:14px; font-size:14px; color:#313131; }


.wrap_branch { overflow: hidden; color:#646464; }
.wrap_branch .sel_loc { padding:15px; }  
.wrap_branch .select_branch { border-top:1px solid #ccc; padding:25px 15px 5px 15px; } 
.wrap_branch .select_branch li { position: relative; height:45px; }
.wrap_branch .select_branch li a.btn { position: absolute; top:-2px; right:0; }
    
.map { width:100%; margin:0; }
.map img { width: 100%; }

.book_search { border-bottom: 1px solid #000;border-top: 1px solid #000; }
.book_search a { display:block; font-size:15px; height:60px; color: #000;  padding:0 20px 0 20px; line-height: 60px;  background: url('../images/common/ico_search_book.png') 95% center no-repeat; }
    
.ico_discount { position: relative;display: inline-block; vertical-align: top; margin:0 0 0 5px; padding: 0 5px 0 10px;   color:#fff; font-size: 12px; height:22px; line-height: 22px; background:#f04040 url(../images/common/ico_discount.png) 0 0 no-repeat; }
.ico_discount:after { position: absolute; top:0; right:0; content: ''; display:inline-block; width:2px; height:22px; background:#f04040 url(../images/common/ico_discount_right.png) 0 0 no-repeat; }

h3 .ico_discount { margin:2px 0 0 10px; }


/* MARGIN PADDING*/
.mt0{margin-top:0px !important}
.mt3{margin-top:3px !important}
.mt5{margin-top:5px !important}
.mt7{margin-top:7px !important}
.mt10{margin-top:10px !important}
.mt12{margin-top:12px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt50{margin-top:50px !important}
.mt55{margin-top:55px !important}
.mt60{margin-top:60px !important}
.mt65{margin-top:65px !important}
.mt70{margin-top:70px !important}
.mt75{margin-top:75px !important}
.mt80{margin-top:80px !important}
.mt85{margin-top:85px !important}
.mt90{margin-top:90px !important}
.mt95{margin-top:95px !important}
.mt100{margin-top:100px !important}

.ml0{margin-left:0px !important}
.ml3{margin-left:3px !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml35{margin-left:35px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}
.ml55{margin-left:55px !important}
.ml60{margin-left:60px !important}
.ml65{margin-left:65px !important}
.ml70{margin-left:70px !important}
.ml75{margin-left:75px !important}
.ml80{margin-left:80px !important}
.ml85{margin-left:85px !important}
.ml90{margin-left:90px !important}
.ml95{margin-left:95px !important}
.ml100{margin-left:100px !important}

.mr0{margin-right:0px !important}
.mr3{margin-right:3px !important}
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr35{margin-right:35px !important}
.mr40{margin-right:40px !important}
.mr45{margin-right:45px !important}
.mr50{margin-right:50px !important}
.mr55{margin-right:55px !important}
.mr60{margin-right:60px !important}
.mr65{margin-right:65px !important}
.mr70{margin-right:70px !important}
.mr75{margin-right:75px !important}
.mr80{margin-right:80px !important}
.mr85{margin-right:85px !important}
.mr90{margin-right:90px !important}
.mr95{margin-right:95px !important}
.mr100{margin-right:100px !important}

.mb0{margin-bottom:0px !important}
.mb3{margin-bottom:3px !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb35{margin-bottom:35px !important}
.mb40{margin-bottom:40px !important}
.mb45{margin-bottom:45px !important}
.mb50{margin-bottom:50px !important}
.mb55{margin-bottom:55px !important}
.mb60{margin-bottom:60px !important}
.mb65{margin-bottom:65px !important}
.mb70{margin-bottom:70px !important}
.mb75{margin-bottom:75px !important}
.mb80{margin-bottom:80px !important}
.mb85{margin-bottom:85px !important}
.mb90{margin-bottom:90px !important}
.mb95{margin-bottom:95px !important}
.mb100{margin-bottom:100px !important}
.mb105{margin-bottom:105px !important}
.mb110{margin-bottom:110px !important}

.pt0{padding-top:0px !important}
.pt5{padding-top:5px !important}
.pt7{padding-top:7px !important}
.pt10{padding-top:10px !important}
.pt12{padding-top:12px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}
.pt35{padding-top:35px !important}
.pt40{padding-top:40px !important}
.pt45{padding-top:45px !important}
.pt50{padding-top:50px !important}
.pt55{padding-top:55px !important}
.pt60{padding-top:60px !important}
.pt65{padding-top:65px !important}
.pt70{padding-top:70px !important}
.pt75{padding-top:75px !important}
.pt80{padding-top:80px !important}
.pt85{padding-top:85px !important}
.pt90{padding-top:90px !important}
.pt95{padding-top:95px !important}
.pt100{padding-top:100px !important}

.pl0{padding-left:0px !important}
.pl5{padding-left:5px !important}
.pl10{padding-left:10px !important}
.pl15{padding-left:15px !important}
.pl20{padding-left:20px !important}
.pl25{padding-left:25px !important}
.pl30{padding-left:30px !important}
.pl35{padding-left:35px !important}
.pl40{padding-left:40px !important}
.pl45{padding-left:45px !important}
.pl50{padding-left:50px !important}
.pl55{padding-left:55px !important}
.pl60{padding-left:60px !important}
.pl65{padding-left:65px !important}
.pl70{padding-left:70px !important}
.pl75{padding-left:75px !important}
.pl80{padding-left:80px !important}
.pl85{padding-left:85px !important}
.pl90{padding-left:90px !important}
.pl95{padding-left:95px !important}
.pl100{padding-left:100px !important}

.pr0{padding-right:0px !important}
.pr5{padding-right:5px !important}
.pr10{padding-right:10px !important}
.pr15{padding-right:15px !important}
.pr20{padding-right:20px !important}
.pr25{padding-right:25px !important}
.pr30{padding-right:30px !important}
.pr35{padding-right:35px !important}
.pr40{padding-right:40px !important}
.pr45{padding-right:45px !important}
.pr50{padding-right:50px !important}
.pr55{padding-right:55px !important}
.pr60{padding-right:60px !important}
.pr65{padding-right:65px !important}
.pr70{padding-right:70px !important}
.pr75{padding-right:75px !important}
.pr80{padding-right:80px !important}
.pr85{padding-right:85px !important}
.pr90{padding-right:90px !important}
.pr95{padding-right:95px !important}
.pr100{padding-right:100px !important}

.pb0{padding-bottom:0px !important}
.pb5{padding-bottom:10px !important}
.pb10{padding-bottom:10px !important}
.pb15{padding-bottom:15px !important}
.pb20{padding-bottom:20px !important}
.pb25{padding-bottom:25px !important}
.pb30{padding-bottom:30px !important}
.pb35{padding-bottom:35px !important}
.pb40{padding-bottom:40px !important}
.pb45{padding-bottom:45px !important}
.pb50{padding-bottom:50px !important}
.pb55{padding-bottom:55px !important}
.pb60{padding-bottom:60px !important}
.pb65{padding-bottom:65px !important}
.pb70{padding-bottom:70px !important}
.pb75{padding-bottom:75px !important}
.pb80{padding-bottom:80px !important}
.pb85{padding-bottom:85px !important}
.pb90{padding-bottom:90px !important}
.pb95{padding-bottom:95px !important}
.pb100{padding-bottom:100px !important}
.pb105{padding-bottom:105px !important}
.pb110{padding-bottom:110px !important}


/* button */
.btn_wrap {padding:20px 0 0 0; overflow: hidden; text-align: center; }
.btn_wrap .btn_red,
.btn_wrap .btn_gray,
.btn_wrap .btn_black { margin:0 4px;font-family:nsm; }
 
.btn_230 {width:230px;height:44px !important; font-size:15px !important; line-height:44px !important;text-align: center} 
.btn_130 {width:130px;height:44px !important; font-size:15px !important; line-height:44px !important;text-align: center}

.btn_full { display: table; width: 100%; padding:10px 0 0 0; }
.btn_full .cell { display: table-cell; }
.btn_full .cell .btn_red,
.btn_full .cell .btn_gray,
.btn_full .cell .btn_black { width:100%;height:44px !important; font-size:15px !important; line-height:44px !important;text-align: center}
.btn_full.btn2 .cell { padding: 0 0 0 5px; }
.btn_full.btn2 .cell:first-child { padding:0 5px 0 0; } 


.btn_white {color:#888;background-color: #fff;border:1px solid #c2c2c2; display:inline-block; vertical-align: middle; padding:0 14px 0; height:40px; line-height:40px; font-size:14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn_black {color:#fff;background-color:#545454;border:1px solid #545454; display:inline-block; vertical-align: middle; padding:0 14px 0; height:40px; line-height:40px; font-size:14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn_gray {color:#fff;background-color:#747677;border:1px solid #747677; display:inline-block; vertical-align: middle; padding:0 14px 0; height:40px; line-height:40px; font-size:14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn_black.disabled { background-color:#a9a9a9;border:1px solid #a9a9a9; pointer-events: none; cursor: default; }
.btn_gray.disabled { background-color:#a9a9a9;border:1px solid #a9a9a9; pointer-events: none; cursor: default; }
.btn_red {color:#fff;background-color:#f04040;border:1px solid #f04040; display:inline-block; vertical-align: middle; padding:0 14px 0; height:40px; line-height:40px; font-size:14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
.btn_red.disabled { background-color:#fababd;border:1px solid #fababd; pointer-events: none; cursor: default; }
.btn_calendar { color:#fff;background:url(../images/common/btn_calendar.png) no-repeat right center #545454;border:1px solid #545454;display:inline-block; vertical-align: middle; padding:0 32px 0 14px; height:40px; text-align:center;line-height:40px; font-size:14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn_right { text-align: right; }

.btn_white.small,
.btn_red.small,
.btn_black.small,
.btn_gray.small { height:30px; padding:0 8px;line-height: 27px; font-size:14px; }



/* layer */
.dimm_b {position:absolute;display:none;top:0;left:0;width:100%;opacity:0.55;background-color: #000;z-index:102; }
.dimm_w {position:absolute;display:none;top:0;left:0;width:100%;background-color: #fff;z-index:100; }
.layer {position:absolute;display:none;;background-color: #fff}
.layer.layer_b {width:100%;z-index:101}
.layer.layer_s {left:3%;width:94%;z-index:103}
.layer.layer_xs {width:400px; }
.layer_tit {padding:16px 37px 0 15px;width:100%;height:48px;border-bottom:1px solid #d5d5d5;overflow: hidden;box-sizing:border-box;background-color: #fff}
.layer_tit h2 {float:left;font-size:18px;font-family: nsm; }
.layer_tit h2.type2 { font-size:16px; letter-spacing: -1px; }
.layer_con { -webkit-overflow-scrolling: touch; }

.layer_tit .btn_layer_close img {width:100%; }
.layer_padding { padding:20px 15px;; }
.layer_s .layer_padding { padding: 20px 0 30px 0; }
.layer.layer_b .layer_tit {position:fixed;width:100%;z-index:102; }

.layer.layer_s .layer_tit .btn_layer_close {position:absolute;right:15px; top:14px; width:20px; }
.layer.layer_b .layer_tit .btn_layer_close {position:absolute;right:15px; top:14px; width:20px; }

.layer.layer_s .layer_con { }
.layer.layer_b .layer_con .wrap_tab,
.layer.layer_s .layer_con .wrap_tab { }
.layer.layer_b .layer_con {margin-top:49px;max-height:750px;overflow-y: auto; }
.layer.layer_s .layer_con .layer_foot,
.layer.layer_b .layer_con .layer_foot {float:left;padding:20px 0;width:100%;text-align:center; }

.layer .layer_con .layer_foot .btn_red,
.layer .layer_con .layer_foot .btn_gray,
.layer .layer_con .layer_foot .btn_black { margin:0 3px; }

.layer.layer_s .layer_con .layer_foot.borderTop,
.layer.layer_b .layer_con .layer_foot.borderTop { border-top: 1px solid #d5d5d5 }


.wrap_zipcode { text-align: center; padding:15px; }
.wrap_zipcode label { display:block; padding:0 0 0 10px;  margin:0 0 10px 0; color: #000; font-size:14px; text-align: left; background:url(../images/common/bul_black.png) no-repeat left center; }
.wrap_zipcode input { font-size:13px; }
.wrap_zipcode button { width: 130px; margin:10px 0 0 0; }
.wrap_zipcode .txt1 { text-align: left; margin:15px 0 10px 0;   }
.wrap_zipcode .txt_list  { text-align: left; }
.wrap_zipcode .txt_list li.red a  { color:#f04040; }
.wrap_zipcode .grid  { margin-top:10px; }
.wrap_zipcode .grid.scroll { height:160px; overflow-y: auto}
.wrap_zipcode .grid .tb_col tbody td { padding:7px 5px 5px 5px; }
.wrap_zipcode .grid td.left { text-align: left; }
.wrap_zipcode .grid td.left a { display: block; margin-bottom: 5px; }

.grid .tb_col tbody td.radio {padding: 11px 0 9px 0; }
 
h3 {position:relative;border-bottom:1px solid #000; padding:0 0 10px 0; font-size:17px; font-family: nsm; letter-spacing: -1px; color:#313131; font-weight: normal; }
h3 span.txt_must {position:absolute;top:3px;right:0;display:inline-block;text-align:right;font-size:14px; color:#646464; font-weight: normal; }
h3.noBorder { border-bottom: 0; }
h3 span.tooltip { display: inline-block;margin:0 0 0 5px; }
h4 {font-size:15px; color:#000; font-weight:bold; }


/* 툴팁이 존재할 시 */
.titleBox {border-bottom:1px solid #000; }
.titleBox.noLine {border-bottom:0; }
.titleBox:after {display:block; content:""; clear:both; }
.titleBox h3 {display: inline-block; margin-bottom:0; border-bottom:none; }
.titleBox h4 {float:left; margin-bottom:0; border-bottom:none; }
.titleBox span {margin-left:3px; }
.titleBox span a {vertical-align: baseline; }
.titleBox .tooltip {float:right; }
.titleBox span.txt_result {}
.titleBox .sort {float:right; display: block; margin:0 0 0 0; text-align: right; font-size: 15px; }
.titleBox .sort label { margin:0 0 0 3px; color: #000; }
.titleBox .sort .btn_tooltip  { vertical-align:top; color:#868686; font-size:0;margin:3px 0 0 2px; }
.titleBox .sort em { font-size:14px; }

.rent_popWrap:after {display:block; content:""; clear:both; }
.rent_popWrap .innerBox {width:49%; height:92px; border:1px solid #c2c2c2; box-sizing:border-box; text-align:center; }
.rent_popWrap .innerBox a {display:block; padding:9px 0; }
.rent_popWrap .innerBox a span {display:block; }
.rent_popWrap .innerBox a .tit {font-size:17px; color:#888; }
.rent_popWrap .innerBox.on a .tit {margin-bottom:3px;font-size:13px; color:#888; }
.rent_popWrap .innerBox a .date,
.rent_popWrap .innerBox a .area {font-size:17px; color:#000; }
.rent_popWrap .innerBox a .hour,
.rent_popWrap .innerBox a .minute {display:inline-block;font-size:15px; color:#000; }
.rent_popWrap .innerBox a.noData {display:table; width:100%; height:100%; padding:0; }
.rent_popWrap .innerBox a.noData .tit {display:table-cell; margin-bottom:0; background:url(../images/common/bu_arrow_rent.png) 92% 50% no-repeat; vertical-align:middle; background-size:6px auto; }
.rent_popWrap .rentBox {float:left; }
.rent_popWrap .returnBox {float:right; }
.innerBox.on {height:92px; border:2px solid #ff3b3b; }

.rent_popWrap.big .innerBox a {padding:6px 0; }
.rent_popWrap.big .innerBox a .tit {margin-bottom:5px; }
.rent_popWrap.big .innerBox.on a .tit {margin-bottom:3px;font-size:13px; color:#888; }
.rent_popWrap.big .innerBox .date {display:block;font-size:15px; }
.rent_popWrap.big .innerBox .hour,
.rent_popWrap.big .innerBox .minute {display:inline-block;margin-top:5px;font-size:14px; }

/* 툴팁 버튼 */
.btn_tooltip {display:inline-block; width:17px; height:17px; vertical-align:top; margin-top:1px; background:url(../images/common/btn_tooltip.png) 0 0 no-repeat; text-indent:-9999px; background-size:100%; }
.btn_myStore { margin: 0 0 0 10px; }

.deliveryWrap .inner .radio + .radio  {margin-left:30px; }
.deliveryWrap .inner .radio input:checked + label {color:#000; }
.deliveryWrap input[type=checkbox]+label { color: #868686; }
.deliveryWrap .btn_tooltip { vertical-align: middle; }
.rent_popWrap {margin-top:10px; }
.sel_carWrap:after {display:block; content:""; clear:both; }
.sel_carWrap .innerBox {width:49%; text-align:center; box-sizing:border-box; }
.sel_carWrap .innerBox .radio {padding:20px; 0; }
.sel_carWrap .innerBox .radio label {font-size:17px;color:#000; }
.sel_carWrap .normal {float:left; }
.sel_carWrap .saving {float:right; }
.sel_carWrap .innerBox .desc_box {border-top:1px solid #c2c2c2; text-align:left; }

.sel_carWrap input[type=radio]+label {padding:30px 0 0 0; }
.sel_carWrap input[type=radio]+label .icon  { left: 50%; margin: 0 0 0 -8px; }

.user_agreement .agree_all {padding:27px 0;border-bottom:1px solid #ccc; }
.user_agreement ol.number p {padding:7px 0 0 15px;font-size:14px;color:#313131; }
.user_agreement ol.number li.f16 {color:#313131; }
.user_agreement ol.number li {color: #6d6d6d}

.ico_grade {display:inline-block; margin-left:5px; width:49px; height:43px; vertical-align:text-bottom; }
.ico_grade.gold {background:url('../images/common/ico_grade_gold.png') 0 0 no-repeat; }
.ico_grade.double {background:url('../images/common/ico_grade_double.png') 0 0 no-repeat; }
.ico_grade.normal {background:url('../images/common/ico_grade_normal.png') 0 0 no-repeat; }

.box_icon > ul {overflow: hidden}
.box_icon > ul > li {width:100%;box-sizing: border-box; } 
.box_icon > ul > li:nth-child(1),
.box_icon > ul > li:nth-child(2) {border-bottom:1px solid #ccc; }
.box_icon > ul > li > strong, .procedure_qa .procedure ol li p {line-height: 1.7}

.customer_center {
	display: inline-block;
	padding:0 35px;
    height: 65px;
    border-radius: 5px;
    background: #f5f5f5;
    color: #1e1e1e;
    font-size: 15px;
    line-height: 65px;
    text-align: center;
    margin: 0 3px;
}

.customer_center em {
    background: url(../images/rent/ico_phone.png) 0 29px no-repeat;
    font-weight: normal;	
}

.customer_center em {margin: 0 0 0 20px;padding: 0 0 0 25px;display: inline-block;background: url(../images/rent/ico_phone.png) 0 22px no-repeat;background-size: 20px auto;}
