.main .wrap_tab_menu, 
.main .tab_menu > li {height:66px;line-height: 66px;font-size:24px;}
.main .top_img img {width:100%;border-bottom:1px solid #ccc}
.main .rentercar {margin-top:10px;padding:4%;border:1px solid #ccc;}
.main .rentercar ul {font-size: 0}
.main .rentercar ul li {display:inline-block;vertical-align:top;text-align:center;font-size:13px;color:#737373;}
.main .rentercar.rent ul li:nth-of-type(1) {width:25%;background:url(../images/main/ico_short1.png) center 18% no-repeat;background-size: 53%}
.main .rentercar.rent ul li:nth-of-type(2) {width:25%;margin:0 12.5%;background:url(../images/main/ico_short2.png) center 20% no-repeat;background-size: 67%}
.main .rentercar.rent ul li:nth-of-type(3) {width:25%;background:url(../images/main/ico_short3.png) center 21% no-repeat;background-size: 52%}

.main .rentercar.buy ul li:nth-child(1) {width:25%;background:url(../images/main/ico_newlong1.png) center 30% no-repeat;background-size: 50%}
.main .rentercar.buy ul li:nth-child(2) {width:25%;margin:0 12.5%;background:url(../images/main/ico_newlong2.png) center 30% no-repeat;background-size: 75%}

.main .rentercar.sell ul li:nth-child(1) {width:30%;background:url(../images/main/ico_auction1.png) center 30% no-repeat;background-size: 50%}
.main .rentercar.sell ul li:nth-child(2) {width:30%;margin:0 5%;background:url(../images/main/ico_auction2.png) center 35% no-repeat;background-size: 45%}
.main .rentercar.sell ul li:nth-child(3) {width:30%;background:url(../images/main/ico_auction3.png) center 25% no-repeat;background-size: 45%}

.main .rentercar ul li a {display:inline-block;margin-bottom:10%;padding-top:90%;width:100%;}
.main .ban_visual {position:relative;overflow: hidden;border:1px solid #ccc;}
.main .ban_rcm {position:relative;overflow: hidden;}
.main .ban_rcm .ban_slider {font-size:0;}
.main .ban_rcm .swiper-slide.nodata {background:url(../images/main/img_logo2.png) center 35% no-repeat #f1f1f1}
.main .ban_rcm .swiper-slide.nodata {background-size: 80%}
.main .ban_rcm .swiper-slide.nodata p {margin-top:20%;width:100%;text-align:center;font-size:12px;color:#c4c4c4}
.main .ban_rcm .swiper-slide {
	position: relative;	
	width: 40%;
    text-align: center;    
    background: #fff;
    border:1px solid #ccc;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.main .ban_rcm .swiper-slide a {position: relative;}
.main .ban_rcm .swiper-slide div {position: absolute;bottom:0.5%;margin:2%;padding:8%;width:96%;box-sizing:border-box;background-color: rgba(0,0,0,0.5)}
.main .ban_rcm .swiper-slide div strong {display: block;font-family:nsm;font-weight:normal;font-size:18px;color:#fff;}
.main .ban_rcm .swiper-slide div span {display: block;font-size:12px;color:#fff;}

.main .swiper-pagination-bullet {width:5px;height:5px;border-radius:0;border:1px solid #969894;background-color: transparent;}
.main .swiper-pagination-bullet-active {width:5px;height:5px;border:1px solid #969894;background-color:#969894;}

.main .rent_info {padding:4%;overflow:hidden;border:1px solid #ccc;background:url('../images/main/ico_swipe.png') no-repeat 94% 22%;background-size: 60px}
.main .rent_info.rent {padding-bottom: 0}
.main .rent_info .list_wrap {width:100%;overflow: hidden}
.main .rent_info .swiper-slide {
    position: relative; 
    text-align: center;    
    font-size:13px;
    color:#737373;
    vertical-align: top;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.main .rent_info ul li:nth-child(1) {height:140px !important;background:url(../images/main/ico_shortinfo1.png) center bottom 81% no-repeat;background-size: 50%}
.main .rent_info ul li:nth-child(2) {height:140px !important;background:url(../images/main/ico_shortinfo2.png) center bottom 85% no-repeat;background-size: 55%}
.main .rent_info ul li:nth-child(3) {height:140px !important;background:url(../images/main/ico_shortinfo3.png) center bottom 85% no-repeat;background-size: 50%}
.main .rent_info ul li:nth-child(4) {height:140px !important;background:url(../images/main/ico_shortinfo4.png) center bottom 94% no-repeat;background-size: 70%}
.main .rent_info ul li:nth-child(5) {height:140px !important;background:url(../images/main/ico_shortinfo5.png) center bottom 83% no-repeat;background-size: 60%}
.main .rent_info ul li:nth-child(6) {height:140px !important;background:url(../images/main/ico_shortinfo6.png) center bottom 90% no-repeat;background-size: 50%}
.main .rent_info ul li:nth-child(7) {height:140px !important;background:url(../images/main/ico_shortinfo7.png) center bottom 75% no-repeat;background-size: 80%}
.main .rent_info ul li:nth-child(8) {height:140px !important;background:url(../images/main/ico_shortinfo8.png) center bottom 85% no-repeat;background-size: 75%}

.main .rent_info ul li a {position: relative;width:100%;}
.main .rent_info ul li a span {position:absolute;top:35%;left:0;width:100%;text-align: center;}
/*
.main .short_rent_info ul li:nth-child(6) a {padding-top:60%;}

.main .short_rent_info ul li:nth-child(4) a,
.main .short_rent_info ul li:nth-child(5) a,

.main .short_rent_info ul li:nth-child(7) a,
.main .short_rent_info ul li:nth-child(8) a {padding-top:50%;}
.main .short_rent_info ul li a {display:inline-block;padding-top:80%;width:100%;}
*/

.main .only_service {margin-top:10px;padding:4%;border:1px solid #ccc;}
.main .only_service ul {font-size: 0}
.main .only_service ul li {display:inline-block;margin:0 3%;vertical-align:top;text-align:center;font-size:13px;color:#737373;}
.main .only_service ul li:nth-child(1) {width:25%;background:url(../images/main/ico_only1.png) center 25% no-repeat;background-size: 65%}
.main .only_service ul li:nth-child(2) {width:25%;margin:0 6%;background:url(../images/main/ico_only2.png) center 30% no-repeat;background-size: 85%}

.main .only_service ul li a {display:inline-block;padding-top:80%;width:100%;}
.main .only_service ul li:nth-child(2) a {height:35px;}

.main .counsel {margin-top:10px;padding:4%;text-align:center;box-sizing: border-box;border:1px solid #ccc;font-size:13px;}
.main .counsel h3 {text-align: left}
.main .counsel a {display:block;padding-top:20%;margin:0 auto 5%;width:25%;background:url(../images/main/ico_counsel.png) no-repeat center bottom 80%;background-size: 70%}

.main .new_long {margin-top:10px;padding:4%;border:1px solid #ccc;}
.main .new_long ul {font-size: 0}
.main .new_long ul li {display:inline-block;margin:0 3%;vertical-align:top;text-align:center;font-size:13px;color:#737373;}
.main .new_long ul li:nth-child(1) {width:25%;background:url(../images/main/ico_newlong1.png) center 25% no-repeat;background-size: 65%}
.main .new_long ul li:nth-child(2) {width:25%;margin:0 6%;background:url(../images/main/ico_newlong2.png) center 30% no-repeat;background-size: 85%}

.main .new_long ul li a {display:inline-block;padding-top:80%;width:100%;}
.main .new_long ul li:nth-child(2) a {height:35px;}

.main .main_link {display:block;margin-top:10px;padding-left:16px;height:56px;line-height:56px;font-size:16px;border:1px solid #ccc;box-sizing: border-box;background:url(../images/main/bul_link.png) no-repeat center right 16px;background-size:2.5% }
.main .ban_main {display:block;margin-top:10px;}
.main .ban_main img {width:100%;}

.swiper-slide img {width:100%;}

/* 로그인  */
.login {position: relative;}
.login .tab_content {margin-top:23px;overflow: hidden;}
.login .tab_content p {text-align: center}
.login .member_menu {width: 100%;font-size: 0}
.login .member_menu li {display:inline-block;width:33.3%;font-size:13px;text-align: center;border-left:1px solid #ccc;box-sizing: border-box;}
.login .member_menu li:first-child {width:33.4%;border:0;}

.login .w100 .cell.hyphen {width:17px;}

.login .bonus {background:url(../images/member/ico_login_link1.png) #f5f5f5 no-repeat 19px center;}
.login .lpoint_lpay {background:url(../images/member/ico_login_link2.png) #f5f5f5 no-repeat 19px center;}
.login .bonus ,
.login .lpoint_lpay {background-size: 60px}

.login .bonus a,
.login .lpoint_lpay a {display:inline-block;padding:17px 24px 17px 94px;width:100%;box-sizing: border-box;}
.login .bonus a span,
.login .lpoint_lpay a span {display: block; background: no-repeat left center;}
.login .bonus a .link_tit,
.login .lpoint_lpay a .link_tit {display:block;margin-bottom:12px;font-family:nsm;font-size:14px}
.login .bonus a .link_sub,
.login .lpoint_lpay a .link_sub {font-size:12px}

.forgot .top_info {text-align:center;}
.forgot .lpoint {display:inline-block;width:49%;height:58px;background:url(../images/member/img_lpoint.png) #f5f5f5 no-repeat center 10px;}
.forgot .rent {display:inline-block;margin-left:1%;width:49%;height:58px;background:url(../images/member/img_logo.png) #f5f5f5 no-repeat center;}
.forgot .lpoint {background-size: 45%}
.forgot .rent {background-size: 60%}
.forgot .auth .phone {display:inline-block;background:url(../images/member/ico_auth_phone.png) no-repeat 65% 0;background-size: 50%}
.forgot .auth .ipin {display:inline-block;background:url(../images/member/ico_auth_ipin.png) no-repeat 65% 0;background-size: 65%}

.bonus .discount .grid .tb_col thead th, .bonus .discount .grid .tb_col tbody th, .grid .tb_col tbody td {padding:11px 6px 9px 5px;}
.bonus #member_bonus .discount .discount_top {display:table-cell;vertical-align:middle;padding-left:91px;height:91px;box-sizing:border-box;background:url(../images/member/ico_member_bonus.png) 10px center no-repeat;background-size:66px}
.bonus #member_bonus .discount .discount_top strong {display:inline-block;color:#313131;font-size:15px;font-weight: normal;}
.bonus #member_bonus .discount .discount_top p {color:#646464}

.bonus #point .use .use_top {display:table-cell;vertical-align:middle;padding-left:130px;height:91px;box-sizing:border-box;background:url(../images/member/ico_member_point1.png) 10px center no-repeat;background-size:100px}
.bonus #point .use .use_top p {color:#646464}

.bonus #point .coupon .coupon_top,
.bonus #point .mileage .mileage_top {display:table-cell;vertical-align:middle;padding-left:130px;height:91px;box-sizing:border-box;background:url(../images/member/ico_member_point2.png) 10px center no-repeat;background-size:100px}
.bonus #point .coupon .coupon_top p,
.bonus #point .mileage .mileage_top p {color:#646464}

.bonus #insurance .cdw .cdw_top {display:table-cell;vertical-align:middle;padding-left:91px;height:91px;box-sizing:border-box;border-bottom: 1px solid #ccc;background:url(../images/member/ico_member_insurance1.png) 10px center no-repeat;background-size:70px}
.bonus #insurance .cdw .cdw_con {padding-top:20px;padding-bottom:20px;padding-left:91px;border-bottom:1px solid #d5d5d5 }
.bonus #insurance .cdw .cdw_con h4 {margin-bottom:5px;font-weight:normal;color:#313131;}
.bonus #insurance .cdw .cdw_con span {color:#646464;}
.bonus #insurance .cdw .repair_wrap {padding-bottom:20px;border-top:1px solid #000 }
.bonus #insurance .cdw .cdw_con.repair {padding-bottom:0;border-bottom:none;background:url(../images/member/ico_member_insurance2.png) 22px center no-repeat;background-size:45px}
.bonus #insurance .cdw .cdw_con.break {border-top:1px solid #d5d5d5;background:url(../images/member/ico_member_insurance3.png) 22px center no-repeat;background-size:50px}
.bonus #insurance .cdw .cdw_con.rent {background:url(../images/member/ico_member_insurance4.png) 22px center no-repeat;background-size:50px}

.bonus #foreign .hertz .hertz_top {display:table-cell;vertical-align:middle;padding-left:91px;height:91px;box-sizing:border-box;border-bottom: 1px solid #ccc;background:url(../images/member/ico_member_foreign1.png) 10px center no-repeat;background-size:70px}

#bonus .tab_content, #lpoint_lpay .tab_content {padding:0;margin-top:50px;width:100%;}
#bonus .tab_content .txt_list li .red,
#lpoint_lpay .tab_content .txt_list li .red {color:#f40404;}

#bonus #member_bonus .discount .discount_top {padding-bottom:47px;height:130px;background:url(../images/member/ico_member_bonus.png) 45px 36px no-repeat;}
#bonus #member_bonus .discount .discount_top p {margin-left:240px;font-size:18px;}
#bonus #member_bonus .discount .discount_top p:first-child {padding-top:45px;}
#bonus #member_bonus .discount .discount_top p span {color:#f04040;}
#bonus #member_bonus .grid tbody tr td .bul_grey:before {content:'-';float:left;padding-right:3px;}
#bonus #member_bonus .grid .txt_list li {padding-left: 10px;}

#bonus #point .use .use_top {height:100px;background:url(../images/member/ico_member_point1.png) 37px 37px no-repeat}
#bonus #point .use .use_top p {margin-left:240px;font-size:18px;}
#bonus #point .use .use_top p:first-child {padding-top:47px;}
#bonus #point .use .use_top p span {color:#f04040;}
#bonus #point .use ul {margin-top:45px;}

#bonus #point .coupon .coupon_top {height:100px;background:url(../images/member/ico_member_point2.png) 37px 35px no-repeat}
#bonus #point .coupon .coupon_top p {margin-left:240px;font-size:18px;}
#bonus #point .coupon .coupon_top p:first-child {padding-top:53px;}
#bonus #point .coupon .coupon_top p span {color:#f04040;}

#bonus #point .mileage .mileage_top {height:100px;background:url(../images/member/ico_member_point2.png) 37px 35px no-repeat}
#bonus #point .mileage .mileage_top p {margin-left:240px;font-size:18px;}
#bonus #point .mileage .mileage_top p:first-child {padding-top:53px;}
#bonus #point .mileage .mileage_top p span {color:#f04040;}
#bonus #point .mileage .layer_foot a {letter-spacing: -1px}

#bonus #insurance .cdw .cdw_top {height: 230px;background:url(../images/member/ico_member_insurance1.png) 37px 34px no-repeat}
#bonus #insurance .cdw .cdw_top p {margin-left:240px;font-size:18px;}
#bonus #insurance .cdw .cdw_top p:first-child {padding-top:47px;}
#bonus #insurance .cdw .cdw_top p span {color:#f04040;}
#bonus #insurance .cdw .cdw_con {padding-left:185px;line-height:1.7;vertical-align:middle;border-top:1px solid #d5d5d5 }
#bonus #insurance .cdw .cdw_con.repair {height:105px;padding-top:30px;background:url(../images/member/ico_member_insurance2.png) 37px 30px no-repeat}
#bonus #insurance .cdw .cdw_con.break {height:102px;padding-top:43px;background:url(../images/member/ico_member_insurance3.png) 37px 30px no-repeat}
#bonus #insurance .cdw .cdw_con.rent {height:102px;padding-top:43px;background:url(../images/member/ico_member_insurance4.png) 37px 26px no-repeat}

#bonus #foreign .hertz .hertz_top {padding-bottom:170px;height: 230px;background:url(../images/member/ico_member_foreign1.png) 37px 38px no-repeat}
#bonus #foreign .hertz .hertz_top p {margin-left:240px;font-size:18px;}
#bonus #foreign .hertz .hertz_top p:first-child {padding-top:47px;}
#bonus #foreign .hertz .hertz_top p span {color:#f04040;}

#lpoint_lpay .lpoint,
#lpoint_lpay .lpay {padding: 50px 30px 0;}

#lpoint_lpay .lpoint .member_benefit, 
#lpoint_lpay .lpoint .event_coupon {height: 203px}

#lpoint_lpay .lpoint .benefit li,
#lpoint_lpay .lpoint .event li {float:left;width:33.3%;height:185px;text-align: center}
#lpoint_lpay .lpoint .benefit li.benefit1 {background:url(../images/member/ico_lpoint1.png) center center no-repeat}
#lpoint_lpay .lpoint .benefit li.benefit2 {background:url(../images/member/ico_lpoint2.png) center center no-repeat}
#lpoint_lpay .lpoint .benefit li.benefit3 {background:url(../images/member/ico_lpoint3.png) center center no-repeat}
#lpoint_lpay .lpoint .event li.event1 {background:url(../images/member/ico_lpoint4.png) center center no-repeat}
#lpoint_lpay .lpoint .event li.event2 {background:url(../images/member/ico_lpoint5.png) center center no-repeat}
#lpoint_lpay .lpoint .event li.event3 {background:url(../images/member/ico_lpoint6.png) center center no-repeat}
#lpoint_lpay .lpoint .benefit li span,
#lpoint_lpay .lpoint .event li span {display: block;margin-top:170px;}

#lpoint_lpay .lpay {overflow: hidden;}
#lpoint_lpay .lpay dl {float:left;}
#lpoint_lpay .lpay dl.even {float:right;}
#lpoint_lpay .lpay dl dt {margin-bottom:12px;line-height: 1}
#lpoint_lpay .lpay dl dd {padding-top:202px;width:449px;height:13px;text-align: center}
#lpoint_lpay .lpay .lpay1 dd {background:url(../images/member/img_lpay1.png) center top no-repeat}
#lpoint_lpay .lpay .lpay2 dd {background:url(../images/member/img_lpay2.png) center top no-repeat}
#lpoint_lpay .lpay .lpay3 dd {background:url(../images/member/img_lpay3.png) center top no-repeat}
#lpoint_lpay .lpay .lpay4 dd {background:url(../images/member/img_lpay4.png) center top no-repeat}


/* 아이디 찾기*/
.forgot_id .select_accout {overflow: hidden;}
.forgot_id .select_accout a {display:inline-block;float:left;margin:50px 0;width:540px;height:130px;}
.forgot_id .select_accout a.lpoint {margin-right:8px;background: url(../images/member/img_lpoint.png) no-repeat center 22px #f5f5f5}
.forgot_id .select_accout a.renter_car {background: url(../images/member/img_logo.png) no-repeat center 44px #f5f5f5}
.forgot_id .select_accout a span {font-size:0;opacity:0}
.forgot_id .select_accout ul.txt_list {float:left;margin-bottom:115px}

.forgot_id .auth h3 {padding:0;margin-bottom:10px;border:0;}
.forgot_id .auth p {color:000;}
.forgot_id .auth .auth_wrap {padding: 0 130px;overflow: hidden;}
.forgot_id .auth .auth_wrap span {display: inline-block;float:left;width:450px;height:320px;text-align:center;border: 1px solid #313131;}
.forgot_id .auth .auth_wrap span.auth_phone {background:url(../images/member/ico_auth_phone.png) no-repeat center 60px;}
.forgot_id .auth .auth_wrap span.auth_ipin {background:url(../images/member/ico_auth_ipin.png) no-repeat center 60px;}
.forgot_id .auth .auth_wrap span a {margin-top:200px;}
.forgot_id .auth .auth_wrap ul {float:left;}


/* 비밀번호 재설정 */
.password_reset input[type=password] {width:380px;}
.password_reset .security {padding-right:10px;font-size:12px;color:#5b5a5a}
.password_reset .security .level {color:f04040;;border-left:1px solid #bbb;}
.password_reset .security .level.low {background: url(../images/member/img_auth_low.jpg) no-repeat right center}
.password_reset .security .level.mid {background: url(../images/member/img_auth_mid.jpg) no-repeat right center}
.password_reset .security .level.high {background: url(../images/member/img_auth_high.jpg) no-repeat right center}


/* 아이디 확인 */
.identify .id_result {padding:60px 0 20px;text-align:center;border-top: 1px solid #000;}
.identify .id_result span {color:#000;}
.identify .id_result span.yourid {display:block;font-size:12px;color:#f40404;}


/* 마이페이지 */
.mypage {overflow: hidden}
.mypage .myinfo {overflow: hidden}
.mypage .myinfo .tit {display: inline-block;font-size:18px;font-weight: bold}
.mypage .myinfo .tit .txt_point {text-decoration: underline;}
.mypage .myinfo .ico_grade {margin-right:10px;vertical-align:middle;}
.mypage .myinfo .stat li {float:left;padding-top:44px;height:134px;width:33.2%;text-align:center;border:1px solid #ccc;border-top:1px solid #000;background-color:#fdfdfd}
.mypage .myinfo .stat li:first-child, 
.mypage .myinfo .stat li:last-child {border-left:0;border-right: 0}
.mypage .myinfo .stat li a {display:inline-block;width:100%;height:100%;font-size:23px;}
.mypage .myinfo .stat li a .num{margin-right:3px;font-size:45px;border-bottom: 1px solid #000}
.mypage .myinfo .stat li .stat_tit {display:block;font-size: 16px;font-weight: bold}
.mypage .more_info {margin-right:70px;}
.mypage .more_info, .mypage .mypoint {display:inline-block;float:left;width:565px;}
.mypage .more_info ul li, .mypage .mypoint ul li, .mypage .short_rent ul li{height:79px;line-height:79px;border-bottom:1px solid #ccc;background: url(../images/common/bu_arrow_rent.png) 530px center no-repeat}
.mypage .short_rent ul li {background: url(../images/common/bu_arrow_rent.png) right 30px center no-repeat}
.mypage .more_info ul li a, .mypage .mypoint ul li a , .mypage .short_rent ul li a {display: inline-block;width:100%;height:100%;font-size:16px;}

.mypage .member_exit {padding:20px 0 50px;border-top:1px solid #000;color:#646464;}

.mypage .branch_box {overflow: hidden}
.mypage .branch {float:left;width:780px;}
.mypage .branch .area {width:100%;}
.mypage .branch .area td {width:20%;height:48px;text-align:center;border:1px solid #313131;}
.mypage .branch .area td.active {background-color: #f40404;}
.mypage .branch .area td a {display:inline-block;width:100%;height:100%;line-height:48px;}
.mypage .branch .area td.active a {font-weight:bold;color:#fff;}
.mypage .branch_list {height:250px;background-color: #fdfdfd;border:1px solid #ccc}
.mypage .branch_list ul {display:none;padding:26px 0;}
.mypage .branch_list ul li {float:left;padding:9px 0;width:20%;text-align:center}
.mypage .branch_list ul li a:hover {color:#f40404;text-decoration: underline;}

.mypage .mybranch {float:right;width:340px;}
.mypage .mybranch ul li:first-child {margin-top:56px;}
.mypage .mybranch ul li {margin-bottom:18px;padding:0 33px;width:338px;height:81px;line-height:81px;border:1px dashed #ccc;box-sizing: border-box;}
.mypage .mybranch ul li.added {border:1px solid #f40404;}
.mypage .mybranch ul li.added .added_area {padding-right:13px;color:#f40404;border-right:1px solid #ccc;}
.mypage .mybranch ul li.added .added_branch {padding-left:13px;}
.mypage .mybranch ul li.added a {float:right;display:inline-block;margin-top:27px;width:26px;height:26px;background: url(../images/member/ico_del.png) no-repeat center}

.mypage .total_point table th, .mypage .total_point table td {height: 140px;}
.mypage .total_point table th {font-size:18px;}
.mypage .total_point table td {padding-right:50px;text-align:right;font-size:30px;color: #000}
.mypage .total_point table td.red {color: #f04040}
.mypage .total_point table td span {font-size:22px}

.mypage .used_point tbody td {height:120px;font-weight: bold;}
.mypage .used_point tbody td p {margin:0;font-weight: normal;}
.mypage .used_point tbody td ul {margin-top:10px;font-weight: normal;}
.mypage .used_point tbody td ul li {line-height:1.2}
.mypage .used_point tbody td:first-child {padding-left:15px;text-align: left}
.mypage .used_point tbody td .plus {display:block;color:#f40404;}
.mypage .used_point tbody td .minus {display:block;color:#3b76ee;}
.mypage .used_point tbody td.no_data {font-weight:normal;text-align: center;color:#888;}

.mypage .point_trans .mileage .mileage_top {background: url(../images/member/img_mypage_point1.png) no-repeat center 48px}
.mypage .point_trans .mileage .mileage_top p:first-child {padding-top:190px;}

.mypage .point_trans .coupon .coupon_top {background: url(../images/member/img_mypage_point2.png) no-repeat center 48px}
.mypage .point_trans .coupon .coupon_top p:first-child {padding-top:190px;}

#conponRequest .layer_con .grid th {padding-left:0;background:none;}
#conponRequest .layer_con .grid input[type=text],
#conponRequest .layer_con .grid .select {width:100%;}

/* 쿠폰 */
.mypage .have_coupon tbody td {height:120px;font-weight: bold;line-height: 1.9}
.mypage .have_coupon tbody td:first-child {padding-left:15px;text-align: left}
.mypage .have_coupon tbody td p {margin:0;font-weight: normal;}
.mypage .have_coupon tbody td ul li {font-weight: normal;}
.mypage .have_coupon tbody td.no_data {font-weight:normal;text-align: center;color:#888;}
.mypage .have_coupon + .paging {margin:52px 0 110px;}

.mypage .coupon_register .top_info {padding:55px 0;text-align: center;background:#fafafa}
.mypage .coupon_register .top_info label {margin-right:30px;vertical-align:middle;font-size: 18px}
.mypage .coupon_register .top_info input[type=text] {margin-right:17px;width:440px;}
.mypage .coupon_register .top_info button {width:76px;}


/* 예약 및 이용 내역*/
.mypage .tooltip {display:inline-block;vertical-align: text-bottom;}
.mypage .reservation table td {height:60px;line-height: 1.6}
.mypage .reservation tbody td.no_data {font-weight:normal;text-align: center;color:#888;}
.mypage .reservation + .paging {margin:52px 0 110px;}

#LayerReserveInfo .layer_con .no_show .grid .tb_col tbody td {height:120px;}
#LayerReserveInfo .layer_con .pay_first div {padding: 48px 0 46px 185px;border-bottom:1px solid #ccc;}
#LayerReserveInfo .layer_con .pay_first div:nth-child(2) {background: url(../images/member/ico_mypage_reservation1.png) no-repeat 20px 36px}
#LayerReserveInfo .layer_con .pay_first div:nth-child(3) {background: url(../images/member/ico_mypage_reservation2.png) no-repeat 26px}
#LayerReserveInfo .layer_con .pay_first div:nth-child(4) {background: url(../images/member/ico_mypage_reservation3.png) no-repeat 29px 36px}
#LayerReserveInfo .layer_con .pay_first div:nth-child(5) {background: url(../images/member/ico_mypage_reservation4.png) no-repeat 31px 39px}
#LayerReserveInfo .layer_con .no_show .txt_list li {line-height: 1}

/* 계약서 조회*/
.mypage .contract .grid input[type=text] {width:294px;}
#showContract .layer_con .contract_top {padding:50px 30px;}
#showContract .box {height:474px;}
#showContract button {float:right;}

/* 예약 및 이용 내역 상세*/
.mypage .reservation_info {margin-bottom: 110px}
.mypage .reservation_info .btn_area {margin-top:70px}
.mypage .reservation_info td {position: relative;overflow: hidden;}
.mypage .reservation_info td a {position: absolute;top:4px;right:9px;}

#reserveCancel .layer_con .select {width:100%;}
#reserveCancel .layer_con .no_show {padding-top:30px;border-top:1px solid #ccc;}
#reserveCancel .layer_con .no_show h4 {margin-bottom:13px;line-height:1}

.mypage .member_info {overflow: hidden}
.mypage .member_info .pw, .mypage .member_info .exit{float:left;width:565px;}
.mypage .member_info .pw .top_info.noBG,
.mypage .member_info .exit .top_info.noBG {padding-left:0;height:75px;min-height: 75px}


/* 결제카드 등록 및 수정 */
.mypage .user_agreement .box {height:120px;background-color: #fdfdfd}
.mypage .user_agreement .agree_all label {height:inherit;line-height: 1.5}
.mypage .card_info input[type=text] {width:63px;}
.mypage .card_info .card_sel .select {width:294px;}
.mypage .card_info .card_date .select {width:114px}


/* 부가정보등록및수정 */
.mypage .licence_info .grid .select {width:295px;}
.mypage .licence_info .grid  input[type=text] {width:63px;}
.mypage .licence_info .grid .licence_num .select {width:113px;}
.mypage .licence_info .grid .licence_num .middle_num {width:103px;}
.mypage .licence_info .grid input.year {width:85px;}

.mypage .question_list tbody td {line-height: 22px}
.mypage .question_list tbody td:nth-child(2) {padding-left:35px;text-align: left;color:#646464}
.mypage .question_list tbody td:nth-child(2) a {color:#646464;}
.mypage .question_list tbody td.no_data {text-align: center}

.mypage .question_answer .top {padding:25px 20px;border-top:1px solid #000;border-bottom:1px solid #ccc;}
.mypage .question_answer .top strong {font-size:18px;}
.mypage .question_answer .question .top .no_reply {padding:5px 10px;background-color: #f40404;font-size:13px;color:#fff;}
.mypage .question_answer .question .top .reply {padding:5px 10px;background-color: #313131;font-size:13px;color:#fff;}
.mypage .question_answer .con {padding:30px 20px;line-height: 30px;border-bottom:1px solid #000;}

.mypage .question_answer .answer .top {background-color: #fafafa}
.mypage .question_answer .answer .top strong {display:inline-block;padding-left:44px;height:24px;background: url(../images/member/bul_mypage_answer1.jpg) no-repeat center left}
.mypage .question_answer .answer .top p {padding-left:44px;}
.mypage .question_answer .answer .con {padding-left:66px;}

/* 살때*/
.easy_estimate .easy_estimate_top {border:3px solid #eee;background-color:#fff;}
.easy_estimate .easy_estimate_top .car_select {position:relative;overflow: hidden}
.easy_estimate .easy_estimate_top .car_select > strong {display:block;font-size:13px;color:#b77467;}
.easy_estimate .easy_estimate_top .car_select .grid {float:left;}
.easy_estimate .easy_estimate_top .car_select .grid tbody tr th {text-align: left;font-weight: normal;background:none}
.easy_estimate .easy_estimate_top .car_select .grid tbody tr th,
.easy_estimate .easy_estimate_top .car_select .grid tbody tr td {padding:5px 10px}
.easy_estimate .easy_estimate_top .car_select .grid tbody tr td .select {width:296px}
.easy_estimate .easy_estimate_top .condition tbody tr th {border-left:0;}
.easy_estimate .easy_estimate_top .condition tbody tr td {background-color:#fff;}

.easy_estimate .easy_estimate_top {padding:15px;}
.easy_estimate .easy_estimate_top .car_img {text-align: center}
.easy_estimate .easy_estimate_top .car_img img {width:80%;}
.easy_estimate .easy_estimate_top .price {width:100%;text-align:center;font-size:14px;}
.easy_estimate .easy_estimate_top .price strong {display:inline-block;width:45%;text-align:right;font-size:28px;}

.easy_estimate .easy_estimate_top.promotion .price {display:inline-block;margin-top:20px;line-height:1.8;vertical-align:middle;}
.easy_estimate .easy_estimate_top.promotion .price .car_name {display:block;font-size:16px;}
.easy_estimate .easy_estimate_top.promotion .price strong {display:inline-block;width:130px;text-align:right;font-size:28px;}
.easy_estimate .easy_estimate_top.promotion .car_img {position:relative;display:block;}

.easy_estimate .benefit ul  {padding:0 15px 20px 70px;background:url(../images/buy/ico_benefit1.png) no-repeat 5px top;background-size:50px}

.promotion .promotion_top img {width:100%;}
.promotion .promotion_list ul li {position:relative;display:inline-block;padding:16px;margin-bottom:12px;width:60%;text-align:center;color:#000;border:1px solid #ccc;}
.promotion .promotion_list ul li span {display:block;text-align: left;font-size:14px;}
.promotion .promotion_list ul li span.price {margin-top:16px;color:#f40404;}
.promotion .promotion_list ul li span.price strong {font-size:19px;}
.promotion .promotion_list ul li img {position: absolute;left:0;}
.promotion .promotion_list ul li.nodata {background: url(../images/buy/img_logo2.png) no-repeat center 40% #f4f4f4;background-size:50%}
.promotion .promotion_list ul li.nodata p {margin-top: 50%;text-align: center;line-height:1.4;font-size:14px;color: #888;}

.new_long .top_banner img {width:100%;}
.new_long .box_icon ul li {padding:25px 0 25px 95px;}
.new_long .box_icon ul li:nth-child(1) {background: url(../images/buy/ico_newlong1.png) no-repeat 20px center;background-size:55px}
.new_long .box_icon ul li:nth-child(2) {background: url(../images/buy/ico_newlong2.png) no-repeat 10px center;background-size:65px}
.new_long .box_icon ul li:nth-child(3) {background: url(../images/buy/ico_newlong3.png) no-repeat 10px center;background-size:65px;border-bottom: 1px solid #ccc}
.new_long .box_icon ul li:nth-child(4) {background: url(../images/buy/ico_newlong4.png) no-repeat 10px center;background-size:65px;}
.new_long .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.new_long .box_icon ul li p:first-child {margin-bottom:10px;}
.new_long .box_icon ul li p {color:#646464;}
.new_long .compare {background:url(../images/main/ico_swipe.png) no-repeat top right;background-size: 60px}
.new_long .compare h3 span {font-size: 13px}
.new_long .compare .grid {overflow-x: auto}
.new_long .compare .grid table {width:700px;}
.new_long .grid .tb_col tbody th, .new_long .grid .tb_col tbody td {text-align: left}
.new_long .grid .tb_row tbody td p {line-height: 1.8}

.procedure_qa .box_icon ul li {padding:25px 0 25px 95px;}
.procedure_qa .box_icon ul li:nth-child(1) {background: url(../images/buy/ico_procedure1.png) no-repeat 20px center;background-size:50px}
.procedure_qa .box_icon ul li:nth-child(2) {background: url(../images/buy/ico_procedure2.png) no-repeat 20px center;background-size:50px}
.procedure_qa .box_icon ul li:nth-child(3) {background: url(../images/buy/ico_procedure3.png) no-repeat 20px center;background-size:50px;border-bottom: 1px solid #ccc}
.procedure_qa .box_icon ul li:nth-child(4) {background: url(../images/buy/ico_procedure4.png) no-repeat 10px center;background-size:70px}
.procedure_qa .box_icon ul li p:first-child {margin-bottom:10px;}

.procedure_qa .qaList h4 {font-size:18px;line-height:3;border-bottom:1px solid #ccc;}
.procedure_qa .qaList .answer.equip {background:url(../images/main/ico_swipe.png) no-repeat top 17px right;background-size: 60px}
@media all and (max-width:360px) {
    .procedure_qa .qaList .answer.equip > p {width:200px;}
}
.procedure_qa .qaList .grid {overflow-x: auto;overflow-y: hidden}
.procedure_qa .qaList .grid table {width:700px;border:1px solid #ccc;}
.procedure_qa .qaList .grid td {background-color: #fff;text-align: left}


.lpg60 .log60_about {line-height: 1.8}
.lpg60 .log60_about .question {padding-top:20px;padding-left:295px;margin-top:54px;height:43px;background: url(../images/buy/ico_lpg60_question.png) no-repeat 230px center;letter-spacing:-0.5px}
.lpg60 .log60_about .answer {padding-top:20px;padding-left:315px;margin-top:20px;height:67px;background: url(../images/buy/ico_lpg60_answer.png) no-repeat right 230px center;letter-spacing:-0.5px}
.lpg60 .top_banner {background:url(../images/buy/img_lpg60_banner.jpg) no-repeat;}
.lpg60 .box_icon ul li {padding:44px 180px;width:100%;}
.lpg60 .box_icon ul li:first-child {padding:33px 180px;background: url(../images/buy/ico_lpg601.png) no-repeat 15px center}
.lpg60 .box_icon ul li:nth-child(2) {background: url(../images/buy/ico_lpg602.png) no-repeat 30px center}
.lpg60 .box_icon ul li:nth-child(3) {background: url(../images/buy/ico_lpg603.png) no-repeat 40px center}
.lpg60 .box_icon ul li strong {font-size:18px;}
.lpg60 .box_graph {padding:30px 50px;overflow:hidden;text-align: center;border:1px solid #ccc}
.lpg60 .box_graph .graph {overflow: hidden;}
.lpg60 .box_graph .graph p {float:left;}
.lpg60 .box_graph .graph .desc {display: block;text-align: left}
.lpg60 .box_graph .graph .data {display:inline-block;padding:15px 10px;text-align: left;border:1px solid #ccc;border-left:none;}
.lpg60 .box_graph .graph .gray1, .lpg60 .box_graph .graph .red1 {border-left:1px solid  #ccc;}
.lpg60 .box_graph .graph .gray1 {width:365px;background-color: #cecece}
.lpg60 .box_graph .graph .gray2 {width:248px;background-color: #e8e8e8}
.lpg60 .box_graph .graph .gray3 {width:375px;background-color: #f7f7f7}
.lpg60 .box_graph .graph .red1 {width:433px;background-color: #f04040;border-right:0;}
.lpg60 .box_graph .graph .red2 {width:293px;background-color:#ef8383;border-right:0;}
.lpg60 .box_graph .graph .red3 {width:177px;background-color:#fae6e6}
.lpg60 .box_graph .total {float:left;margin-top:5px;text-align: left}

.electric .top_banner img {width:100%;}
.electric .box_icon ul li {padding:25px 0 25px 95px;}
.electric .box_icon ul li:nth-child(1) {background: url(../images/buy/ico_electric1.png) no-repeat 20px center;background-size:55px}
.electric .box_icon ul li:nth-child(2) {background: url(../images/buy/ico_electric2.png) no-repeat 10px center;background-size:65px}
.electric .box_icon ul li:nth-child(3) {background: url(../images/buy/ico_electric3.png) no-repeat 10px center;background-size:65px;}
.electric .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.electric .box_icon ul li p:first-child {margin-bottom:10px;}
.electric .box_icon ul li p {color:#646464;}
.electric .grid .tb_col tbody th, .electric .grid .tb_col tbody td {text-align: left}
.electric .grid .tb_row tbody td p {line-height: 1.8}

.auto_change .top_banner img {width:100%;}
.auto_change .customer_center {padding:0 15px;}
.auto_change .rc p {padding:0 22px;}
.auto_change .rc .big_num {position: absolute;margin-top:5px;margin-right:5px;vertical-align:middle;font-size: 20px;color:#646464;}
.auto_change .rc .desc {display:block;margin-left:35px;}
.auto_change .box_icon ul li {padding:25px 0 25px 95px;}
.auto_change .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.auto_change .box_icon ul li p:first-child {margin-bottom:10px;}
.auto_change .box_icon ul li p {color:#646464;}
.auto_change .box_icon ul li:first-child {background: url(../images/buy/ico_lpg603.png) no-repeat 15px center;background-size:55px}
.auto_change .box_icon ul li:nth-child(2) {background: url(../images/buy/ico_autochange2.png) no-repeat 5px center;background-size:75px}
.auto_change .box_icon ul li:nth-child(3) {background: url(../images/buy/ico_autochange3.png) no-repeat 15px center;background-size:65px}

.succeed_info .box_icon ul li {padding:35px 0 35px 95px;border-bottom: 1px solid #ccc}
.succeed_info .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.succeed_info .box_icon ul li p:first-child {margin-bottom:10px;}
.succeed_info .box_icon ul li p {color:#646464;}
.succeed_info .box_icon ul li:nth-child(1) {background: url(../images/buy/ico_succeedinfo1.png) no-repeat 15px center;background-size:55px}
.succeed_info .box_icon ul li:nth-child(2) {background: url(../images/buy/ico_succeedinfo2.png) no-repeat 15px center;background-size:55px}
.succeed_info .box_icon ul li:nth-child(3) {background: url(../images/buy/ico_succeedinfo3.png) no-repeat 15px center;background-size:55px}
.succeed_info .box_icon ul li:nth-child(4) {background: url(../images/buy/ico_succeedinfo4.png) no-repeat 15px center;background-size:55px}
.succeed_info .box_icon ul li:nth-child(5) {background: url(../images/buy/ico_succeedinfo5.png) no-repeat 15px center;background-size:55px}
.succeed_info .box_icon ul li:nth-child(6) {background: url(../images/buy/ico_succeedinfo6.png) no-repeat 15px center;background-size:55px;}
.succeed_info .cautions .caution_list h4 {font-size:14px;font-weight: normal;}

.auto_manager .top_banner img {width:100%;}
.auto_manager .grid .tb_col tbody td {padding:10px;text-align: left}
.auto_manager .good h4 {padding-bottom:10px;line-height:1;font-weight:normal;border-bottom:1px solid #ccc;}

.auto_manager .box_icon ul li {padding:35px 0 35px 95px;}
.auto_manager .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.auto_manager .box_icon ul li p:first-child {margin-bottom:10px;}
.auto_manager .box_icon ul li p {color:#646464;}
.auto_manager .good .long.box_icon ul li:nth-child(1) {background: url(../images/buy/ico_automanager1.png) no-repeat 10px center;background-size:55px;}
.auto_manager .good .long.box_icon ul li:nth-child(2) {background: url(../images/buy/ico_automanager2.png) no-repeat 15px center;background-size:45px;}
.auto_manager .good .corporate.box_icon ul li:nth-child(1) {background: url(../images/buy/ico_automanager3.png) no-repeat 10px center;background-size:55px;}
.auto_manager .good .corporate.box_icon ul li:nth-child(2) {background: url(../images/buy/ico_automanager4.png) no-repeat 10px center;background-size:55px;}
.auto_manager .good .user.box_icon ul li:nth-child(1) {background: url(../images/buy/ico_automanager5.png) no-repeat 15px center;background-size:55px;}
.auto_manager .good .user.box_icon ul li:nth-child(2) {background: url(../images/buy/ico_automanager6.png) no-repeat 10px center;background-size:65px;}

.auto_manager .service h4 {padding-bottom:10px;line-height:1;font-weight:normal;border-bottom:1px solid #ccc;}
.auto_manager .service .service_box div {padding:35px 0 35px 95px;border-bottom:1px solid #ccc;}
.auto_manager .service .service_box div strong {font-size: 15px;font-weight:normal;color:#000;}
.auto_manager .service .service_box div p:first-child {margin-bottom:10px;}
.auto_manager .service .service_box div p {color:#646464;}
.auto_manager .service .service_box .contract {background: url(../images/buy/ico_automanager7.png) no-repeat 15px center;background-size:55px;}
.auto_manager .service .service_box .run {background: url(../images/buy/ico_automanager8.png) no-repeat 10px center;background-size:55px;}

.auto_manager .plus {display:inline-block;width:100%;height:70px;background: url(../images/buy/bul_plus.jpg) no-repeat center;background-size: 20px}

.auto_manager .service .premium .box_icon li {padding:35px 0 35px 95px;border-bottom:1px solid #ccc;}
.auto_manager .service .premium .box_icon li:nth-child(1) {background: url(../images/buy/ico_automanager9.png) no-repeat 10px center;background-size:70px;}
.auto_manager .service .premium .box_icon li:nth-child(2) {background: url(../images/buy/ico_automanager10.png) no-repeat 10px center;background-size:65px;}
.auto_manager .service .premium .box_icon li:nth-child(3) {background: url(../images/buy/ico_automanager11.png) no-repeat 15px center;background-size:55px;}
.auto_manager .service .premium .box_icon li:nth-child(4) {background: url(../images/buy/ico_automanager12.png) no-repeat 10px center;background-size:55px;}
.auto_manager .service .premium .box_icon li:nth-child(5) {background: url(../images/buy/ico_automanager13.png) no-repeat 10px center;background-size:55px;}

.package .box_icon > ul > li {float:left;width:50%;text-align:center;border-bottom: none;height:172px;}
.package .box_icon > ul > li strong {font-size: 15px;font-weight:normal;color:#000;}
.package .box_icon > ul > li p:first-child {margin-bottom:5px;}
.package .box_icon > ul > li p {color:#646464;}
.package .box_icon > ul > li:nth-child(1) {background: url(../images/buy/ico_package1.png) no-repeat center 30px;background-size:75px;}
.package .box_icon > ul > li:nth-child(2) {background: url(../images/buy/ico_package2.png) no-repeat center 30px;background-size:95px;}
.package .box_icon .txt_list li {position: absolute;text-align: left}
.package .package_benefit {background:url(../images/main/ico_swipe.png) no-repeat top right;background-size: 60px}
.package .package_benefit .grid {overflow-x: auto}
.package .package_benefit .grid table {width:700px;} 
.package .grid .tb_col tbody td {padding-left:15px;text-align: left}
.package .grid .txt_list li:last-child {padding:0 0 4px 14px;}
.package .travel h4 {margin-top:35px;padding-bottom:3px;border-bottom:1px solid #000;}
.package .travel .btn_white {padding:0 8px;}

.auto_cashbag .top_banner img {width:100%;}
.auto_cashbag .rc p {padding:0 22px;}
.auto_cashbag .rc .big_num {position: absolute;margin-top:5px;margin-right:5px;vertical-align:middle;font-size: 20px;color:#646464;}
.auto_cashbag .rc .desc {display:block;margin-left:35px;}

.auto_cashbag .box_icon ul li {padding:35px 0 35px 95px;}
.auto_cashbag .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.auto_cashbag .box_icon ul li p:first-child {margin-bottom:10px;}
.auto_cashbag .box_icon ul li p {color:#646464;}

.auto_cashbag .box_icon ul li:nth-child(1) {background:url(../images/buy/ico_autocashbag1.png) no-repeat 15px center;background-size:65px;}
.auto_cashbag .box_icon ul li:nth-child(2) {background:url(../images/buy/ico_autocashbag2.png) no-repeat 10px center;background-size:70px;}
.auto_cashbag .box_icon ul li:nth-child(3) {background:url(../images/buy/ico_autocashbag3.png) no-repeat 5px center;background-size:75px;}
.auto_cashbag .box_icon ul li strong {font-size: 18px}
.auto_cashbag .economic {display:inline-block;width:100%;text-align: center}
.auto_cashbag .economic img {margin:20px 0;}
.auto_cashbag .economic .standard {font-size:16px;color:#646464;}
.auto_cashbag .economic img,
.auto_cashbag .graph {width:100%;}

.partner_card .top_banner img {width:100%;}
.partner_card .customer_center {padding:10px 20px;height:auto;overflow:hidden;text-align: left}
.partner_card .customer_center span {float:left;margin-top:10px;margin-right:10px;width:150px;line-height: 1.5;text-align: right}
.partner_card .customer_center em {float:right;margin-left:10px;}
.partner_card .car_life .life_circle {width:100%;font-size:0;background:url(../images/buy/bg_lifecircle.jpg) no-repeat center 20px;background-size: 100%}
.partner_card .car_life .life_circle h4 {font-size:0;}
/*
.partner_card .car_life .life_circle {position: relative;width:100%;height:545px;background:url(../images/buy/bg_lifecircle.jpg) no-repeat center 20px;background-size: 100%}
.partner_card .car_life .life_circle h4 {position: absolute;top:170px;left:28%;}
.partner_card .car_life .life_circle h4 span {display:block;width:180px;text-align:center;font-size:14px;}
.partner_card .car_life .life_circle h4 span.txt_point {margin-top:10px;font-size:42px}
.partner_card .car_life .life_circle ul li {position: absolute;text-align:center;font-size:10px;}
.partner_card .car_life .life_circle ul li p:first-child {font-size:12px;}
.partner_card .car_life .life_circle ul li.rent {top:90px;left:400px;text-align: left}
.partner_card .car_life .life_circle ul li.buy {top:32%;left:0px;}
.partner_card .car_life .life_circle ul li.repair {bottom:0;left:145px;}
.partner_card .car_life .life_circle ul li.drive {bottom:0;left:370px;}
.partner_card .car_life .life_circle ul li.refuel {top:295px;left:410px;}
.partner_card .car_life .life_circle ul li.public {top:360px;right:270px;width:250px;}
.partner_card .car_life .life_circle ul li.golf {top:360px;right:90px;}
*/
.partner_card .discount .tb_col thead th {border-top:1px solid #000;}
.partner_card .discount .tb_col thead th:first-child,
.partner_card .discount .tb_col tbody th,
.partner_card .discount .tb_col tbody td {text-align: left}

.corporate .top_banner img {width:100%;}
.corporate .box_icon ul li {padding:35px 0 35px 95px;border-bottom:1px solid #ccc;}
.corporate .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.corporate .box_icon ul li p:first-child {margin-bottom:10px;}
.corporate .box_icon ul li p {color:#646464;}

.corporate .box_icon ul li:nth-child(1) {background:url(../images/buy/ico_newlong1.png) no-repeat 15px center;background-size:65px;}
.corporate .box_icon ul li:nth-child(2) {background:url(../images/buy/ico_corporate2.png) no-repeat 10px center;background-size:70px;}
.corporate .box_icon ul li:nth-child(3) {background:url(../images/buy/ico_newlong3.png) no-repeat 10px center;background-size:65px;}
.corporate .box_icon ul li:nth-child(4) {background:url(../images/buy/ico_newlong4.png) no-repeat 5px center;background-size:75px;}
.corporate .box_icon ul li:nth-child(5) {background:url(../images/buy/ico_newlong2.png) no-repeat 5px center;background-size:75px;}
.corporate .box_icon ul li:nth-child(6) {background:url(../images/buy/ico_corporate6.png) no-repeat 10px center;background-size:65px;border:none;}

.buy_search .filter {text-align: center}
.buy_search .filter .grid {text-align: left}
.buy_search .filter .grid input[type=text] {width:100%}
.buy_search .filter .grid .select {width:100%;margin:5px 3px 5px 0;}
.buy_search .filter .grid .btn_tooltip {margin-left:5px;vertical-align: text-top;}
.buy_search .filter .btn_filter {width:220px;}

.buy_search .radio_filter li {margin:10px 10px 10px 0;display:inline-block;width:44%;}
.buy_search .radio_filter li.bl {width:auto;}
.buy_search .radio_filter li:first-child {display:block;}
.buy_search .radio_filter li:last-child {margin-right: 0}

#r2b .layer_con {padding:0 15px;}
.buy_search_view {overflow: hidden}
.buy_search_view h2 {line-height: 1.3}
.buy_search_view .search_view_left {float:left;width:392px;}
.buy_search_view .search_view_left .car_img {position: relative;width:390px;height:352px;line-height: 352px;text-align:center;border:1px solid #ccc;}
.buy_search_view .swiper {position: relative;}
.buy_search_view .swiper .btn_prev {position:absolute;top:60%;left:0;display:inline-block;width:15px;height:30px;z-index:1;background:url('../images/buy/btn_prev.png') center no-repeat;background-size: 15px}
.buy_search_view .swiper .btn_next {position:absolute;top:60%;right:0;display:inline-block;width:15px;height:30px;z-index:1;background:url('../images/buy/btn_next.png') center no-repeat;background-size: 15px}
.buy_search_view .search_view_left .thumb {margin-top:7px;width:392px;overflow: hidden;}
.buy_search_view .search_view_left .thumb li {display:inline-block;float:left;padding:5px;margin-right:7px;margin-bottom:7px;width:114px;height:88px;line-height:88px;text-align:center;border:1px solid #ccc;}
.buy_search_view .search_view_left .thumb li:nth-child(3n) {margin-right:0;}
.buy_search_view .search_view_left .thumb li img {width:100%;}

.buy_search_view .search_view_right {float:right;width:758px;}

.buy_search_view .top_txt {margin-top:50px;padding:30px 0;background-color:#fafafa;border-top:1px solid #000;border-bottom:1px solid #ccc}
.buy_search_view .top_txt > div {display: inline-block;width:49%;vertical-align:top;text-align: center;font-size:20px;}
.buy_search_view .top_txt > div:first-child {border-right: 1px solid #d6d6d6}
.buy_search_view .top_txt div .tit {display: block;margin-bottom:15px;font-size:13px;}
.buy_search_view .top_txt div .num {font-size:20px;line-height: 1.2}
.buy_search_view .top_txt div .date {margin-top:3px;display:block;font-size:13px;}
.buy_search_view .top_txt .price {color:#f40404;font-size:15px;}
.buy_search_view .top_txt .term {color:#000;font-size:15px;}

.buy_search_view .search_view_right .option_info .tb_col tbody td {position: relative;}
.buy_search_view .search_view_right .option_info td ul {position: relative;top:0;}
.buy_search_view .search_view_right .option_info td ul li {display: inline-block;float:left;padding-left:20px;width:105px;text-align: left;}
.buy_search_view .search_view_right .car_info,
.buy_search_view .search_view_right .caution {line-height: 1.8}
.buy_search_view .search_view_right .car_info ul li {color:#313131;}
.buy_search_view .search_view_right .option_info td ul li.none {color:#ccc;}
.buy_search_view .check_list div {padding:25px 0;text-align: center;border-bottom:1px solid #ccc;}
.buy_search_view .check_list a {width:31.5%;padding:0;margin-left:5px;text-align: center;}
.buy_search_view .check_list a:first-child {margin-left:0;}
.buy_search_view .sell_info {overflow: hidden}
.buy_search_view .sell_info .branchMap {float:right;}

.buy_search_view .option_info .tb_row tbody tr td {padding-left:8px;}
.buy_search_view .option_info ul li {display: inline-block;width:43%;letter-spacing: -1px}
.buy_search_view .option_info ul li:last-child {padding-left:12px;}
.buy_search_view .option_info ul li.none {padding-left:12px;color:#bbb;}

#branchMap .layer_con .map_wrap {width:100%;border-top:1px solid #ccc;box-sizing: border-box;}
#branchMap .layer_con strong {display:inline-block;margin-bottom:10px;font-size:17px;}

.buy_search .recommand.list_car {overflow: hidden;}
.buy_search .recommand.list_car .nav{float:right;}
.buy_search .recommand.list_car .nav .num,
.buy_search .recommand.list_car .nav .num span {vertical-align: top}
.buy_search .recommand.list_car .nav .num .curr {font-weight: bold}
.buy_search .recommand.list_car .titleBox .nav a {display: inline-block; width:30px;height:24px;}
.buy_search .recommand.list_car .titleBox .nav a.btn_prev {margin-left:10px;background:url('../images/common/btn_prev.png') center no-repeat;}
.buy_search .recommand.list_car .titleBox .nav a.btn_next {background:url('../images/common/btn_next.png') center no-repeat;}
.buy_search .recommand.list_car > ul {overflow:hidden;border-bottom:1px solid #000;}
.buy_search .recommand.list_car > ul > li {display:inline-block;float:left;padding:30px 0;width:33.3%;height:199px;border:none;}
.buy_search .recommand.list_car dl dt {position: relative;padding: 0;margin-bottom:7px;}
.buy_search .recommand.list_car dl dd {position: relative;padding: 0}
.buy_search .recommand.list_car dl dd .price {position: relative;display:inline-block;top:inherit;right:inherit;font-size:24px;}
.buy_search .recommand.list_car dl dd .term {position: relative;font-weight: bold;color: #000;font-size:24px;line-height: 32px;}
.buy_search .recommand.list_car dl dd .img {position: relative;top:inherit;left:inherit;margin-top:7px;}
.buy_search .recommand.list_car dl dt strong {padding:0;margin:0;font-size:19px;}
.buy_search .recommand.list_car dl dd .option {position: absolute;top:50px;left:200px;}
.buy_search .recommand.list_car dl dd .option li {display:block;color:#5a5a5a;background:url('../images/common/bul_black.png') 0 10px no-repeat;}
.buy_search .recommand.list_car dl dd .option li:first-child {padding-left:8px;}
.buy_search .recommand.list_car dl dd strong {display: inline-block;margin-left:5px;text-align: right}
.buy_search .recommand.list_car dl dd .price em:first-child {padding-left:0;}
.buy_search .recommand.list_car dl dd .term em {padding: 0 0 0 5px;font-size: 17px;}
.buy_search .recommand.list_car dl dd button {left:200px;bottom:0;}

.buy_search .product.list_car dl dd .option {margin-top:5px;}
.buy_search .product.list_car dl dd .option li {display:block;width:210px;line-height:1.6;color:#5a5a5a;background:url('../images/common/bul_black.png') 0 10px no-repeat;}
.buy_search .product.list_car dl dd .option li:first-child {padding-left:8px;}
.buy_search .product.list_car dl dd .price {display: inline-block;margin-right:0;}
.buy_search .product.list_car dl dd .term {margin-left:9px;color: #000;font-size: 19px;}

.buy_search .product.list_car dl dd .term em {font-size: 12px;}
.buy_search .product.list_car dl dd button {margin-top:12px;}
.buy_search .product.list_car .no_data {padding:50px 0;text-align: center}
.buy_search .product.list_car .no_data a {margin-top:30px;}

.car_inquire .top_info p {margin:0 auto;width:270px;text-align: center}
.old_long .box_icon ul li {padding:35px 0 35px 95px;}
.old_long .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.old_long .box_icon ul li p:first-child {margin-bottom:10px;}
.old_long .box_icon ul li p {color:#646464;}

.old_long .box_icon ul li:nth-child(1) {background: url(../images/buy/ico_oldlong1.png) no-repeat 5px center;background-size:75px;}
.old_long .box_icon ul li:nth-child(2) {background: url(../images/buy/ico_oldlong2.png) no-repeat 15px center;background-size:65px;}
.old_long .box_icon ul li:nth-child(3) {background: url(../images/buy/ico_oldlong3.png) no-repeat 15px center;background-size:65px;border-bottom:1px solid #ccc}
.old_long .box_icon ul li:nth-child(4) {background: url(../images/buy/ico_oldlong4.png) no-repeat 15px center;background-size:65px;border-bottom:1px solid #ccc}
.old_long .box_icon ul li:nth-child(5) {background: url(../images/buy/ico_oldlong5.png) no-repeat 15px center;background-size:65px;border-bottom:1px solid #ccc}
.old_long .box_icon ul li:nth-child(6) {background: url(../images/buy/ico_oldlong6.png) no-repeat 15px center;background-size:65px;}


.trial_ride .user_agreement .box{height:200px;}
.trial_ride .btn_calendar {font-size: 0;width: 100%;padding: 0 15px;background-position: 12px center;}

.car_inquire .grid textarea.content {height:300px;}

.estimate .top_info p {margin:0 auto;width:250px;text-align: center}
.estimate .grid .phone input[type=text] {width:90px;}
.estimate .grid input[type=text].subject {width:100%;}
.estimate .grid textarea.content {height:300px;}

.auto_lease .auto_lease_top {padding-left:90px;height:120px;line-height:120px;text-align:center;border-bottom:1px solid #ccc;background: url(../images/buy/img_autolease.jpg) no-repeat 6px center;background-size:80px}
.auto_lease .auto_lease_top + p {line-height: 1.7}
.auto_lease .auto_lease_top strong {font-weight: normal;font-size:13px;}
.auto_lease .personal .box_icon ul li {padding:35px 0 35px 95px;border-bottom:1px solid #ccc}
.auto_lease .personal .box_icon ul li strong {font-size: 15px;font-weight:normal;color:#000;}
.auto_lease .personal .box_icon ul li p:first-child {margin-bottom:10px;}
.auto_lease .personal .box_icon ul li p {color:#646464;}
.auto_lease .personal .box_icon ul li:nth-child(1) {background: url(../images/buy/ico_autolease1.png) no-repeat 5px center;background-size:65px;}
.auto_lease .personal .box_icon ul li:nth-child(2) {background: url(../images/buy/ico_autolease2.png) no-repeat 15px center;background-size:45px;}
.auto_lease .personal .box_icon ul li:nth-child(3) {background: url(../images/buy/ico_autolease3.png) no-repeat 10px center;background-size:65px;}
.auto_lease .personal .box_icon ul li:nth-child(4) {background: url(../images/buy/ico_autolease4.png) no-repeat 15px center;background-size:45px;}
.auto_lease .personal .box_icon ul li:nth-child(5) {background: url(../images/buy/ico_autolease5.png) no-repeat 5px center;background-size:65px;}
.auto_lease .personal .box_icon ul li:nth-child(6) {background: url(../images/buy/ico_autolease6.png) no-repeat 10px center;background-size:65px;border:0;}
.auto_lease .personal .box_icon ul li strong {font-size: 16px}
.auto_lease .personal .desc, .auto_lease .truck {line-height: 1.7}
.auto_lease .truck strong {font-weight:normal;}

.succeed_reg input[type=checkbox]+label {margin-right:15px;}