/* HEADER */

header {
	top: 0;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 45px;
	background: url('../images/m/header_bg.png') no-repeat top right;
	background-size: contain;
}

/* INCLUDING_LOGO */
header > a.logo {
	display: block;
	width: 109px;
	margin-left: 16px;
}

header a.logo img {
	display: block;
	width: 100%;
}
/* /INCLUDING_LOGO */

header .controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	height:45px;
	margin-left: auto;
	margin-right: 15px;
}

header .controls > a {
	width: 18px;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

header .controls > a:first-child {
	margin-right: 25px;
}

header .controls > a.member_btn {
	background-image: url('../images/m/header_controls_member_btn.png');
}

header .controls > a.drawer_btn {
	background-image: url('../images/m/header_controls_drawer_btn.png');
}

body.sub header {
	position: relative;
}
/* /HEADER */

/* SUB HEADER */
.main .sub_header {
	display: none;
}

.sub_header {
	/*
	position: absolute;
	top: 44px;
	*/
	position:relative;
	z-index: 3 ;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fff;
}

.sub_header.fixed {
	position: fixed;
	top: -45px;
	-webkit-transform: translateZ(0)
}

.sub_header.absolute {
	position: absolute;
}

.sub_header > a.back_btn {
	position: absolute;
	display: block;
	width: 10px;
	height: 100%;
	left: 15px;
	background: url('../images/m/sub_header_back_btn.png') no-repeat center;
	background-size: contain;
}

.sub_header > h2.title {
	margin: 0 auto;
	color: #313131;
	font-size: 18px;
	line-height: 44px;
}

.sub_header > a.share_btn {
	position: absolute;
	display: block;
	width: 15px;
	height: 100%;	
	right: 15px;
	background: url('../images/m/sub_header_share_btn.png') no-repeat center;
	background-size: contain;
}
/* SUB HEADER */

/* GLOBAL MAIN */
main {
	position: relative;
	display: block;
	min-height: 400px;
	padding-top: 45px;
}

body.sub main {
	/*padding-top: 0;*/
}

main > .content {

}
/* /GLOBAL MAIN */

/*#container {padding-top:45px}*/

/* FOOTER */
footer {

}

footer .inner_footer .upper {
	position: relative;
	height: 115px;
	background: #fff;
}

footer .inner_footer .upper .sns {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 142px;
	margin: 0 auto;
}

footer .inner_footer .upper .sns > a {
	display: block;
}

footer .inner_footer .upper .sns > a.twitter {
	display: block;
	width: 16px;
}

footer .inner_footer .upper .sns > a.facebook {
	display: block;
	width: 7px;
}

footer .inner_footer .upper .sns > a.blog {
	display: block;
	width: 12px;
}

footer .inner_footer .upper .sns > a > img {
	display: block;
	width: 100%;
}

footer .inner_footer .upper .sns {

}

footer .inner_footer .upper .phone {
	position: absolute;
	bottom: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

footer .inner_footer .upper .phone > li {
	position: relative;
	display: inline-block;
	height: 10px;
	color: #686868;
	font-size: 10px;
	line-height: 10px;
}

footer .inner_footer .upper .phone > li:first-child {
	margin-right: 30px;
}

footer .inner_footer .upper .phone > li:first-child:after {
	content: ' ';
	position: absolute;
	right: -15px;
	width: 1px;
	height: 100%;
	background: #a8a9ad;
}

footer .inner_footer .lower {
	position: relative;
	height: 150px;
	background: #efefef;
}

footer .inner_footer .lower .phone {
	position: absolute;
	top: 20px;
	width: 100%;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	color: #858585;	
}


footer .inner_footer .lower .sitemap {
	position: absolute;
	top: 40px;
	width: 100%;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
}

footer .inner_footer .lower .sitemap > a {
	color: #838383;	
}

footer .inner_footer .lower .sitemap > a:after {
	content: 'ㅣ';
	margin:0 2px;
}

2017-05-26
footer .inner_footer .lower .sitemap > a:last-child:after {
	content: '';
	margin:0;
}

footer .inner_footer .lower .entrepreneur_info li {
	display: inline-block;
	font-size: 9px;
	line-height: 16px;
	color: #838383
}

footer .inner_footer .lower .entrepreneur_info li:first-child:after {
	content: 'ㅣ';
	margin:0 2px;
}

footer .inner_footer .lower .information {
	position: absolute;
	bottom: 22px;
	width: 100%;
	text-align: center;
}

footer .inner_footer .lower .information > span {
	display: block;
	color: #838383;
	font-size: 9px;
	line-height: 16px;
}

/* /FOOTER */

/* DRAWER */
nav.drawer {
	position: absolute;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	z-index:50;
	background: #fff;
}

nav.drawer .drawer_header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #0e0e0e;
	background-color: #fff
}

nav.drawer .drawer_header > a.title {
	display: block;
	height: 15px;
	margin-left: 15px;
	padding-left: 24px;
	color: #313131;
	font-size: 16px;
	line-height: 15px;
	background: url('../images/m/drawer_title_bg.png') no-repeat;
	background-size: contain;
}

nav.drawer .drawer_header .drawer_close_btn {
	display: block;
	width: 17px;
	height: 17px;
	margin: 0 15px 0 auto;
	background: url('../images/m/drawer_close_btn.png') no-repeat;
	background-size: contain;
	border: 0;
	outline: 0;
}

nav.drawer .drawer_body {
	position: relative;
	top: 0;
	left: 0;
	/*
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	*/
	width: 100%;
	padding-top: 45px;
	overflow:hidden;
}

nav.drawer .drawer_body .menu_container {display: inline-block;float:left;width:88px;overflow-y: auto;}
nav.drawer .drawer_body .menu_container > ul > li {padding-top:65px;height:89px;text-align: center;box-sizing:border-box;background-repeat: no-repeat;background-size: contain;border:2px solid #fff;border-right:0;}
nav.drawer .drawer_body .menu_container > ul > li.active {
	border:2px solid #f04040;
	border-right:0;
	background-color: #f04040;
	color: #fff;
}

nav.drawer .drawer_body .menu_container > ul > li.onfocus {border:2px solid #f04040;border-right:0;}

nav.drawer .drawer_body .menu_container > ul > li.idx1 {
	background-image: url('../images/m/drawer_menu_1_on_bg.png');
}

nav.drawer .drawer_body .menu_container > ul > li.idx1.active {
	background-image: url('../images/m/drawer_menu_1_active_bg.png');
}

nav.drawer .drawer_body .menu_container > ul > li.idx2 {
	background-image: url('../images/m/drawer_menu_2_on_bg.png');
}

nav.drawer .drawer_body .menu_container > ul > li.idx2.active {
	background-image: url('../images/m/drawer_menu_2_active_bg.png');
}

nav.drawer .drawer_body .menu_container > ul > li.idx3 {
	background-image: url('../images/m/drawer_menu_7_on_bg.png');
}

nav.drawer .drawer_body .menu_container > ul > li.idx3.active {
	background-image: url('../images/m/drawer_menu_7_active_bg.png');
}


nav.drawer .drawer_body .submenu_container {
	/*
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	    
	width: 90px;
	-webkit-overflow-scrolling: touch;*/
	position: relative;
	height:100%;
	float:right;
	overflow-y: auto;
	border-left: 2px solid #f04040;
}

nav.drawer .drawer_body .submenu_container > ul.menus {
	-webkit-overflow-scrolling:touch;
	width:100%;
	
}

nav.drawer .drawer_body .submenu_container > ul.menus > li.menu {width:100%;}

nav.drawer .drawer_body .submenu_container > ul.menus > li.menu > .submenu {
	position: absolute;
	display: none;
	top:0;
	width:100%;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;
}


nav.drawer .drawer_body .submenu_container > ul.menus > li.menu > a {
	display: inline-block;
	width: 0;
	height: 0;
	opacity: 0
}


nav.drawer .drawer_body {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-overflow-scrolling: touch;
}

nav.drawer .drawer_body .submenu > li > a {
	position: relative;
	display: block;
	width: 100%;
	height: 47px;
	color: #000;
	font-size: 13px;
	line-height: 47px;
	text-indent: 15px;
	border-bottom: 1px solid #7b7b7b;
}

nav.drawer .drawer_body .app .submenu > li {
	display:inline-block;
	margin:15px 0 0 15px;
}

nav.drawer .drawer_body .app .submenu > li > a {
	display:inline-block;
	margin: 0 auto;
	height:100%;
	text-align: center;
	text-indent: 0;
	border:0;
}
nav.drawer .drawer_body .app .submenu > li > a img {
	margin:0 auto;
	width:56px;
}

nav.drawer .drawer_body .app .submenu > li > a span {
	display:block;
}

nav.drawer .drawer_body .submenu > li > a.slide_menu_btn:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: block;
    width: 10px;
    height: 100%;
    background: url(../images/m/drawer_menu_arrow_down.png) no-repeat center;
    background-size: contain;
}

nav.drawer .drawer_body .submenu > li > a.slide_menu_btn.expanded:after {
	transform: rotate(180deg);
}

nav.drawer .drawer_body .submenu .slide_menu {
	display: none;
	background: #f3f3f3;
}

nav.drawer .drawer_body .submenu > li > .slide_menu > li > a {
	position: relative;
	display: block;
	width: 100%;
	height: 47px;
	color: #444;
	font-size: 12px;
	line-height: 47px;
	text-indent: 29px;
	border-bottom: 1px solid #c4c4c4;
}

nav.drawer .drawer_body .submenu .slide_menu a.slide_menu_btn:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: block;
    width: 10px;
    height: 100%;
    background: url(../images/m/drawer_submenu_arrow_down.png) no-repeat center;
    background-size: contain;
}

nav.drawer .drawer_body .submenu .slide_menu a.slide_menu_btn.expanded:after {
	transform: rotate(180deg);
}

nav.drawer .drawer_body .submenu .slide_menu .slide_menu {
	display: none;
	padding: 9px 0;
	background: #7b7b7b;
}

nav.drawer .drawer_body .submenu .slide_menu .slide_menu li a {
	display: block;
	width: 100%;
	height: 35px;
	color: #fff;
	font-size: 11px;
	line-height: 35px;
	text-indent: 43px;
}

nav.drawer .drawer_body .apps {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 18px;
}

nav.drawer .drawer_body .apps > a.app {
	margin-bottom: 18px;
}

nav.drawer .drawer_body .apps > a.app .app_icon {
	width: 50px;
	height: 50px;
	margin-bottom: 8px;
}

nav.drawer .drawer_body .apps > a.app .app_icon > img {
	display: block;
	width: 100%;
	height: 100%;
}

nav.drawer .drawer_body .apps > a.app span.app_title {
	display: block;
	color: #444;
	font-size: 10px;
	line-height: 140%;
	text-align: center;
}

/* /DRAWER */