#visual.news {
  background: url('/resources/img/news/bg_visual_news.png') no-repeat center;
}
#content {
  &.news {
    .list {
      li {
        border-bottom: $border;
        a {
          display: block;
          padding: 40px 0;
          overflow: hidden;
          div {
            float: left;
            width: 720px;
            @include subhead;
            .subject {
              margin-top: 10px;
              font-size: 22px;
              font-weight: 700;
              color: $dark;
            }
            .desc {
              margin: 5px 0;
              max-height: 84px;
              overflow: hidden;
            }
          }
          .thumb {
            float: right;
            width: 340px;
            height: 200px;
            border-radius: 5px;
          }
        }
      }
    }
    .page {
      margin-top: 60px;
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        margin-left: 10px;          
        a {
          display: inline-block;
          width: 50px;
          height: 50px;
          line-height: 48px;
          text-align: center;
          font-weight: 700;
          border: $border;
          border-radius: 50px;
          &.on, &:hover, &.focus {
            color: #fff;
            border-color: $purple;
            background-color: $purple;
          }
        }
      }
    }
  }
  &.view {
    img {
      display: block;
      margin: 0 auto;
    }
    div:first-child {
      margin-bottom: 50px;
      @include subhead;
      .subject {
        margin: 10px 0;
        font-size: 36px;
        font-weight: 700;
        color: $dark;
      }
      .date {
        color: $light;
      }
    }
  }
}