$dark: #2e2e2e;
$light: #949494;
$purple: #7852cc;
$border: 1px solid #e8e8e8;

@mixin subhead($color) {
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
  color: if($color == purple, $purple, if($color == cyan, #14b4d6, #4f9bf5));
  @if $color == purple {
    //color: $purple;
    background-color: #ebe5f8;
  }
  @else if $color == cyan {
    //color: #14b4d6;
    background-color: #dcf4f9;
  }
  @else if $color == blue {
    //color: #4f9bf5;
    background-color: #e5f0fe;
  }  
}

@mixin arrow {
  content: '';
  margin-left: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url('/resources/img/img_arrow_circle.png');
}