@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* INIT */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
}

/* HTML5 ELEMENT RESET */
aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{ display:block }
ol,ul{ list-style:none }
blockquote,q{ quotes:none }
blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none }
table{ border-collapse:collapse; border-spacing:0 }
a{ text-decoration:none }
img{ max-width:100% }

/* TYPE */
body, textarea { font: 12px/18px "Nanum Gothic", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important }

/* MICRO CLEARFIX */
.cf:before,.cf:after { content: " "; display: table }
.cf:after { clear: both }

/* BOX SIZING FIX */
*, *:before, *:after {
	box-sizing: border-box;
}

/* IPHONE FONT FIX */
*{-webkit-text-size-adjust:none; -webkit-font-smoothing: antialiased}

/*--- LOTTE RENTAL CORE CSS ---*/

/* GLOBAL HTML, BODY */
html, 
body {
}

body {
}

/* WRAP */
body .wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 45px;
	background: url('../images/m/header-bg.png') no-repeat top right;
	background-size: contain;
}

/* INCLUDING_LOGO */
header > a.logo {
	display: block;
	width: 109px;
	margin-left: 16px;
}

header > a.logo > img {
	display: block;
	width: 100%;
}
/* /INCLUDING_LOGO */

header .controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-right: 15px;
}

header .controls > a {
	width: 18px;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

header .controls > a:first-child {
	margin-right: 25px;
}

header .controls > a.member-btn {
	background-image: url('../images/m/header-controls-member-btn.png');
}

header .controls > a.drawer-btn {
	background-image: url('../images/m/header-controls-drawer-btn.png');
}

body.sub header {
	position: relative;
}
/* /HEADER */

/* SUB HEADER */
body.main .sub-header {
	display: none;
}

.sub-header {
	position: absolute;
	top: 45px;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #e1e1e1;
}

.sub-header.fixed {
	position: fixed;
	top: 0;
}

.sub-header > a.back-btn {
	display: block;
	width: 10px;
	height: 100%;
	margin-left: 15px;
	margin-right: auto;
	background: url('../images/m/sub-header-back-btn.png') no-repeat center;
	background-size: contain;
}

.sub-header > span.title {
	margin: 0 auto;
	color: #313131;
	font-size: 16px;
	line-height: 44px;
}

.sub-header > a.share-btn {
	display: block;
	width: 15px;
	height: 100%;
	margin-left: auto;
	margin-right: 15px;
	background: url('../images/m/sub-header-share-btn.png') no-repeat center;
	background-size: contain;
}
/* SUB HEADER */

/* GLOBAL MAIN */
main {
	position: relative;
	display: block;
	min-height: 400px;
	padding-top: 45px;
}

body.sub main {
	/*padding-top: 0;*/
}

main > .content {

}
/* /GLOBAL MAIN */

/* MAIN */

/* /MAIN */

/* FOOTER */
footer {

}

footer .inner-footer .upper {
	position: relative;
	height: 115px;
	background: #fff;
}

footer .inner-footer .upper .sns {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 142px;
	margin: 0 auto;
}

footer .inner-footer .upper .sns > a {
	display: block;
}

footer .inner-footer .upper .sns > a.twitter {
	display: block;
	width: 16px;
}

footer .inner-footer .upper .sns > a.facebook {
	display: block;
	width: 7px;
}

footer .inner-footer .upper .sns > a.blog {
	display: block;
	width: 12px;
}

footer .inner-footer .upper .sns > a > img {
	display: block;
	width: 100%;
}

footer .inner-footer .upper .sns {

}

footer .inner-footer .upper .phone {
	position: absolute;
	bottom: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

footer .inner-footer .upper .phone > span {
	position: relative;
	display: block;
	height: 10px;
	color: #686868;
	font-size: 10px;
	line-height: 10px;
}

footer .inner-footer .upper .phone > span:first-child {
	margin-right: 30px;
}

footer .inner-footer .upper .phone > span:first-child:after {
	content: ' ';
	position: absolute;
	right: -15px;
	width: 1px;
	height: 100%;
	background: #a8a9ad;
}

footer .inner-footer .lower {
	position: relative;
	height: 136px;
	background: #efefef;
}

footer .inner-footer .lower .sitemap {
	position: absolute;
	top: 22px;
	width: 100%;
	font-size: 9px;
	line-height: 16px;
	text-align: center;
}

footer .inner-footer .lower .sitemap > a {
	color: #838383;	
}

footer .inner-footer .lower .information {
	position: absolute;
	bottom: 22px;
	width: 100%;
	text-align: center;
}

footer .inner-footer .lower .information > span {
	display: block;
	color: #838383;
	font-size: 9px;
	line-height: 16px;
}

/* /FOOTER */

/* DRAWER */
nav.drawer {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}

nav.drawer .drawer-header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #0e0e0e;
}

nav.drawer .drawer-header > a.title {
	display: block;
	height: 15px;
	margin-left: 15px;
	padding-left: 24px;
	color: #313131;
	font-size: 16px;
	line-height: 15px;
	background: url('../images/m/drawer-title-bg.png') no-repeat;
	background-size: contain;
}

nav.drawer .drawer-header .drawer-close-btn {
	display: block;
	width: 17px;
	height: 17px;
	margin: 0 15px 0 auto;
	background: url('../images/m/drawer-close-btn.png') no-repeat;
	background-size: contain;
	border: 0;
	outline: 0;
}

nav.drawer .drawer-body {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	padding-top: 45px;
}

nav.drawer .drawer-body .menu-container {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: 90px;
	border-right: 2px solid #f04040;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

nav.drawer .drawer-body .menu-container > ul.menus {
	width: 100%;
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu {
	width: 100%;
	height: 89px;
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-1 > a {
	background-image: url('../images/m/drawer-menu-1-on-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-1.active > a {
	background-image: url('../images/m/drawer-menu-1-active-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-2 > a {
	background-image: url('../images/m/drawer-menu-2-on-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-2.active > a {
	background-image: url('../images/m/drawer-menu-2-active-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-3 > a {
	background-image: url('../images/m/drawer-menu-3-on-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-3.active > a {
	background-image: url('../images/m/drawer-menu-3-active-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-4 > a {
	background-image: url('../images/m/drawer-menu-4-on-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-4.active > a {
	background-image: url('../images/m/drawer-menu-4-active-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-5 > a {
	background-image: url('../images/m/drawer-menu-5-on-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-5.active > a {
	background-image: url('../images/m/drawer-menu-5-active-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-6 > a {
	background-image: url('../images/m/drawer-menu-6-on-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-6.active > a {
	background-image: url('../images/m/drawer-menu-6-active-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-7 > a {
	background-image: url('../images/m/drawer-menu-7-on-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.idx-7.active > a {
	background-image: url('../images/m/drawer-menu-7-active-bg.png');
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu > a {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.active > a {
	background-color: #f04040;
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu > a > span {
	display: block;
	margin-top: 65px;
	color: #444;
	font-size: 10px;
	line-height: 1;
}

nav.drawer .drawer-body .menu-container > ul.menus > li.menu.active > a > span {
	color: #fff;
}

nav.drawer .drawer-body .submenu-container {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

nav.drawer .drawer-body .submenu-container .submenus {
	display: none;
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > a.child.title {
	position: relative;
	display: block;
	width: 100%;
	height: 47px;
	color: #000;
	font-size: 13px;
	line-height: 47px;
	text-indent: 15px;
	border-bottom: 1px solid #7b7b7b;
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > a.child.title.slide-menu-btn:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: block;
    width: 10px;
    height: 100%;
    background: url(../images/m/drawer-menu-arrow-down.png) no-repeat center;
    background-size: contain;
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > a.child.title.slide-menu-btn.expanded:after {
	transform: rotate(180deg);
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > .slide-menu {
	display: none;
	background: #f3f3f3;
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > .slide-menu > a.child {
	position: relative;
	display: block;
	width: 100%;
	height: 47px;
	color: #444;
	font-size: 12px;
	line-height: 47px;
	text-indent: 29px;
	border-bottom: 1px solid #c4c4c4;
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > .slide-menu > a.child.slide-menu-btn:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: block;
    width: 10px;
    height: 100%;
    background: url(../images/m/drawer-submenu-arrow-down.png) no-repeat center;
    background-size: contain;
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > .slide-menu > a.child.slide-menu-btn.expanded:after {
	transform: rotate(180deg);
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > .slide-menu > .slide-menu {
	display: none;
	padding: 9px 0;
	background: #7b7b7b;
}

nav.drawer .drawer-body .submenu-container .submenus .submenu > .slide-menu > .slide-menu > a {
	display: block;
	width: 100%;
	height: 35px;
	color: #fff;
	font-size: 11px;
	line-height: 35px;
	text-indent: 43px;
}

nav.drawer .drawer-body .submenu-container .submenus .apps {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 18px;
}

nav.drawer .drawer-body .submenu-container .submenus .apps > a.app {
	margin-bottom: 18px;
}

nav.drawer .drawer-body .submenu-container .submenus .apps > a.app .app-icon {
	width: 50px;
	height: 50px;
	margin-bottom: 8px;
}

nav.drawer .drawer-body .submenu-container .submenus .apps > a.app .app-icon > img {
	display: block;
	width: 100%;
	height: 100%;
}

nav.drawer .drawer-body .submenu-container .submenus .apps > a.app span.app-title {
	display: block;
	color: #444;
	font-size: 10px;
	line-height: 140%;
	text-align: center;
}

/* /DRAWER */